/* 508 & WCAG2AA Fixes */

.flex-control-paging li a {
  color: #0270b3;
}

#twitter_icon,
#facebook_icon,
#youtube_icon {
  color: #767676;
}

/* 508 & WCAG 2.0 AA Fixes */
.flex-control-paging a:link {
  color: #0270b3
}

.social-menu a:link {
  color: #767676;
}

.social-label {
  color: #FFF;
}

/* Carousel Arrows */
.flex-direction-nav {
  display: none;
}

/* Status Message */
.status_msg {
  color: #4F8A10;
  background-color: #DFF2BF;
  padding: 5px 10px;
}

.status_msg:before {
  font: normal normal normal 24px/1 FontAwesome;
    content: "\f058";
    margin-right: 5px;
}

/* Warning Message */
.warning_msg {
  color: #734C00;
  background-color: #F4DAA6;
  padding: 5px 10px;
}

.warning_msg:before {
  font: normal normal normal 24px/1 FontAwesome;
  content: "\f06a";
  margin-right: 5px;
}

/* Error Message */
.error_msg {
  color: #A51B00;
  background-color: #F9C9BF;
  padding: 5px 10px;
}

.error_msg:before {
  font: normal normal normal 24px/1 FontAwesome;
  content: "\f057";
  margin-right: 5px;
}

.error_msg,
.status_msg,
.warning_msg {
  margin-bottom: 2.5rem;
}

.content-inner.error_msg,
.content-inner.status_msg,
.content-inner.warning_msg {
  padding: .75rem;
}

/* Blog Comment Section */
.comment_block {
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  margin-top: 30px;
  padding: 20px;
  border-radius: 4px;
}

.comment_block footer p {
  border-bottom: 1px solid #aaa;
}

.comment_block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.comment_block li {
  display: inline-block;
}

.comment_block li a {
  padding: 5px;
}

.indented {
  margin-left: 50px;
}

/* Health Disparities Framework */
.col__hdn-container {
	max-width: 100%;
}

.col__hdn-wrapper {
	float: left;
	width: 100%;
}

.col__hdn-wrapper img {
  width: 100%;
}

.col__hdn-title {
	color: white;
	background: #37393A;
	padding: 10px;
	text-align: center;
	font-weight: normal;
}

.col__hdn-title a:link {
  color: white;
}

.col__hdn {
	float: left;
	font-size: 0.7em;
	width: 24.5%;
  margin-right: 5px;
	text-align: center;
}

@media (max-width: 1000px) {
  .col__hdn {
    width: 100%;
    margin-right: 0;
  }
}

.col__hdn li a {
  min-height: 87px;
}

.col__hdn-last {
	margin-right: 0;
}

.hdr__hdn {
	margin: 0;
}

.hdr__hdn a {
	display: block;
	color: white;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 2px;
	font-weight: normal;
	text-decoration: none;
}

.hdr__hdn-env {
	background: #00AEEF;
}

.hdr__hdn-socio {
	background: #67B653;
}

.hdr__hdn-beh {
	background: #EF7A45;
}

.hdr__hdn-bio {
	background: #81518B;
}

.col__hdn ul {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.col__hdn li {
	text-align: center;
	margin-left: 0 !important;
}

.col__hdn a:hover {
	text-decoration: underline;
}

.col__hdn-env li a {
	background: #B4E6F9;
	margin-bottom: 2px;
}

.col__hdn-socio li a {
	background: #CEE6C7;
	margin-bottom: 2px;
}

.col__hdn-beh li a {
	background: #F7CEBC;
	margin-bottom: 2px;
}

.col__hdn-bio li a {
	background: #E0D1E3;
	margin-bottom: 2px;
}

.col__hdn-block {
	box-sizing: border-box;
	color: black;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
}

.hdn__factors p,
.hdn_lifecourse p {
	margin: 0;
}

.hdn__factors p {
	display: block;
	background: #6A6D71;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	margin-bottom: 5px;
}

.hdn_lifecourse p {
	display: block;
	background: #6A6D71;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	margin-top: 3px;
}

.funding-left,
.funding-right {
	float: left;
	width: 50%;
}

.hdn_funding {
  margin-top: 20px;
}

.hdn_funding a {
	text-decoration: none;
}

.hdn_funding a span {
	border-radius: 50%;
	padding: 4px 12px;
	font-size: 0.9em;
	color: white;
}

.hdn_funding a span.circle_fo {
	padding: 8px 7px;
	font-size: 0.9em;
}

.circle_env {
	background: #00AEEF;
}

.circle_socio {
	background: #67B653;
}

.circle_beh {
	background: #EF7A45;
}

.circle_bio {
	background: #81518B;
}

.circle_fo {
	background: #676A6B;
}

.fold-menu {
    border: 1px solid #6a6d71;
    margin: 0 0 4px;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
}

.fold-menu .dir {
    background: #6a6d71;
    display: block;
    font-size: 1em;
    max-width: 100%;
    padding: .75em .75em .5em;
}

.fold-menu a {
    text-decoration: none;
    color: #FFF;
}

.fold-menu > .fold--content {
    padding: 1.25em 1.5em 0;
    text-align: left;
}

.fold-menu > div {
    display: none;
}

.fold-menu .dir:after {
    background-color: #37393A;
    border-radius: 50%;
    content: " +";
    content: " \0002B";
    display: block;
    float: right;
    font-size: 1.25em;
    line-height: 1;
    height: 1.125em;
    width: 1.125em;
}

/* WOYP */
.block_top_border {
  border-top: 8px solid black;
  clear: both;
  padding-top: 20px;
  margin-bottom: 20px;
}

.tip_blue {
  padding: 20px;
  background-color: #E2F0F0;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.box_orange {
  background-color: #FDECC9;
  padding: 20px;
}

.box_orange h1 {
  color: black;
  text-transform: uppercase;
}

.hdr-tip,
.hdr-balancing,
.hdr-choosingfood,
.hdr-grains,
.hdr-vegetables,
.hdr-fruits,
.hdr-protein,
.hdr-dairy,
.hdr-oils,
.hdr-sofas {
  color: black;
  text-transform: uppercase;
  padding-left: 60px;
  margin-bottom: 20px;
}

.food_groups_menu {
  padding: 0;
}

.food_groups_menu a {
  padding-left: 55px;
  font-size: 26px;
}

.food_groups_menu li {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 20px;
  font-size: 1.4em;
}

.hdr-tip {
  background: url('/themes/nia/images/woyp/icon-tip.svg') no-repeat;
}

.hdr-choosingfood {
  background: url('/themes/nia/images/woyp/icon-choosingfood.svg') no-repeat;
}

.hdr-balancing {
  background: url('/themes/nia/images/woyp/icon-balance.svg') no-repeat;
}

.food_groups_menu-grains,
.hdr-grains {
  background: url('/themes/nia/images/woyp/icon-grains.svg') no-repeat;
}

.food_groups_menu-vegetables,
.hdr-vegetables {
  background: url('/themes/nia/images/woyp/icon-veggie.svg') no-repeat;
}

.food_groups_menu-fruits,
.hdr-fruits {
  background: url('/themes/nia/images/woyp/icon-fruits.svg') no-repeat;
}

.food_groups_menu-protein,
.hdr-protein {
  background: url('/themes/nia/images/woyp/icon-protein.svg') no-repeat;
}

.food_groups_menu-dairy,
.hdr-dairy {
  background: url('/themes/nia/images/woyp/icon-dairy.svg') no-repeat;
}

.food_groups_menu-oils,
.hdr-oils {
  background: url('/themes/nia/images/woyp/icon-oils.svg') no-repeat;
}

.food_groups_menu-sofas,
.hdr-sofas {
  background: url('/themes/nia/images/woyp/icon-sofas.svg') no-repeat;
}

.woyp_food_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.woyp_food_list li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  width: 31%;
  margin: .75rem 1%;
  font-size: 0.8em;
  line-height: 0.8em;
  min-height: 190px;
}

.woyp_food_list li:last-of-type {
  margin: .75rem 1%;
}

.balancing-calories th,
.balancing-calories  td {
  border: 5px solid #FFFFFF;
  background-color: #FDECC9;
}

.balancing-calories th {
  font-size: 1.3em;
  font-weight: bold;
}

.sidebar_skyscraper_right {
  border-top: 10px solid black;
  margin: 10px 0 10px 20px;
  float: right;
  width: 380px;
}

.sidebar_skyscraper_right h1 a:link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  color: black;
}

.sidebar_skyscraper_right h1 a::after {
  color: #fcb81e;
  font-family: 'FontAwesome';
  content: "\f0a9";
  margin-left: 6px;
}

.row-2col {
  float: left;
  width: 50%;
}

.row-choosingfood {
  background-color: #E3E5A3;
  margin-bottom: 20px;
}

.row-choosingfood-img {
  width: 178px;
  float: left;
}

.row-choosingfood-or {
  width: 160px;
  float: left;
}

.row-choosingfood-text {
  width: 342px;
  padding: 20px;
  float: left;
}

/*
.list-3columns {
-moz-column-count: 3;
-moz-column-gap: 30px;
-webkit-column-count: 3;
-webkit-column-gap: 30px;
column-count: 3;
column-gap: 30px;
}

*/

/* Clinical Trials */

/*
.hero_section {
  background-image: url('../images/bg_ct_hero.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 30px;
}

.hero_inside {
  color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0;
  padding-bottom: 20px;
}

.clinical-trials-featured-wrapper,
.clinical-trials-search-results-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid_8 {
  width: 620px;
}

.grid_6 {
  width: 460px;
}

.alpha {
    margin-left: 0;
}

.hero_inside .ct_instruction {
  color: white;
  font-size: 1.75rem;
  line-height: 1.2;
}

.hero-teaser {
  font-size: 1rem;
  line-height: 1.4;
}

.hero_inside form {
  font-size: 1rem;
  line-height: 1.4;
}

form .reference {
  font-style: italic;
  font-size: .75rem;
  line-height: 2;
}

.hero_inside .form-item {
  float: left;
  margin: 16px 16px 16px 0;
  width: 290px;
}

.clinical-trials-search-form .form-submit {
  margin-left: 30px;
  margin-top: 41px;
}
*/

.ct-field label {
  display: inline-block;
  margin-right: 10px;
}

.ct-field div {
  display: inline-block;
}

/* Webform */
.form-required::before {
  content: '* ';
  font-weight: bold;
  color: red;
}

.webform-confirmation {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.path-webform label {
  display: inline;
}

/**
  Temporarily hide input field "Distance"
 */
/*.form-item-search-distance {*/
  /*visibility: hidden;*/
/*}*/
