.ribbon,
.bing-search-form,
#bing-search-form,
.section_navigation,
.section_breadcrumb,
.footer,
.sidebar,
#block-formsubscription-2,
.bg_polar,
nav,
.comment_block h2,
.comment_block form,
.comment_block .links,
#block-promoirp-2,
.col-12-full .col-3-left,
#backtotop {
  display: none;
}

.col-9-left,
.masonry .item,
.col-12-full .col-9-right {
  width: 100%;
}

.bg_white .content-inner,
.tags a, .topics a,
.feature-blog,
.bg_white .content-inner,
.featured_funding,
.bg_fullbleed {
  padding: 0;
}

h1,
.page-title,
.hero-title,
.landing-title,
.landing-banner h1 {
  font-size: 20px;
}

h2,
.blog-title,
.feature-title,
.hero-copy,
.news-title,
.section-title {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6,
.section-header {
  margin: 0;
}

.main-content,
.intro,
.intro-link,
.landing-banner .intro-text,
.special_hdr,
.special_intro,
.lab-title,
.sidenav li.lead,
.teaser-title,
.landing-banner .form_description,
.blog-author,
.feature-summary,
.feature_news .teaser-title,
.main-content,
.postdate,
.subheader,
.topical_term,
.tags a,
.topics a {
  font-size: 12px;
}

.landing-banner,
.landing-content {
  padding: 0;
}

.card-item {
  position: inherit;
  left: inherit;
  top: inherit;
}

table, th, td
{
  border-collapse:collapse;
  border: 1px solid black;
  width: 100%;
  text-align:right;
}
