{%
  set classes = [
    'text-promo',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div class="promo-field-wrapper text-wrapper">
  <span{{ attributes.addClass(classes) }}>
    {{ item.content }}
  </span>
  </div>
{% endfor %}
