{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'featured_funding',
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="content paragraph-inner">

    <div class="section-header">
      <h2 class="section-title taxonomy-label">
          Featured Funding Opportunities
      </h2>
    </div>

    {{ content }}

    <div class="link-to-page">
        <a href="https://grants.nih.gov/grants/guide/search_guide_results.htm?Text_Curr=&Search.x=21&Search.y=3&PrimaryIC=NIA&ParticipatingIC=&RelDate_On_After=&RelDate_On_Before=&OpeningDate_On_After=&OpeningDate_On_Before=&ExpDate_On_After=&ExpDate_On_Before=&Activity_Code=&Activity_Code_Text=&AppPackage=&Parent_FOA=All&Title_Text=&Status=Active&DocType=PA-RFA&ListOrder1=RelDate+desc&ListOrder2=None" target="_blank" class="link-text link-arrow-right">
          Find more funding opportunities from the NIH Grants Guide
        </a>
    </div>

  </div>
</div>
