{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{# Set allowed taxonomy vocabulary that is allowed to display default taxonomy view #}
{% set allowed_taxonomy = ['research_blog_tags', 'health_topics_index'] %}

{% if view.id != 'division_workshops' %}
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
{% endif %}

  {% if header %}
    <div>
      {{ header }}
    </div>
  {% endif %}

  {{ exposed }}
{% if view.id == 'division_workshops' %}
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
{% endif %}

  {{ attachment_before }}

  {# Display only when on term page of research_blog_topics vocabulary or when its not the default taxonomy_term view #}
  {% if (taxonomy_vocabulary is defined and taxonomy_vocabulary in allowed_taxonomy) or view.id != 'taxonomy_term' %}
    {{ rows }}
    {{ empty }}
    {{ pager }}
  {% endif %}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    {% if view.id != 'in_the_news' %}
      <footer>
    {% endif %}
      {{ footer }}
    {% if view.id != 'in_the_news' %}
      </footer>
    {% endif %}
  {% endif %}

  {{ feed_icons }}