{#
{% set rowsLength = results|length %}
{% if results|length > 1 %}
    <span class="search-results-count">Your search returned {{ results|length }} records</span>
{% elseif results|length == 1 %}
    <span class="search-results-count">Your search returned {{ results|length }} record</span>
{% else %}
    <span class="search-results-count">Your search returned {{ results|length }} records</span>
{% endif %}
#}

{#
total - total number of results returned from the search engine (no greater than 1000)
allpages - number of all pages calculated based on the total records returned and elementsPerPage
page - currentPageNo - Member identifier for the current page number
currentStartPageNo - Member identifier for the current start page number in the page navigation
count - Member identifier for the number of elements on a page
pageNumberInNavigation - Member identifier for the number of pages you have in the navigation
currentEndPageNo - Member identifier for the current end page number in the page navigation
maxresultpages - Member identifier for the maximum number of pages of results to be returned from the search engine
#}
{#
    {% set count = 0 %}

    {% for result in results %}
        {% if 'order.nia.nih.gov' in result.url %}
        {% set count = count + 1 %}
        {% endif %}
    {% endfor %}
#}

{#
{% set allpages = (total / count)|round(0, 'ceil')  %}
{% set pageNumberInNavigation = 10 %}
{% set pages = allpages <= pageNumberInNavigation ? allpages : pageNumberInNavigation %}
{% set currentStartPageNo = page > maxresultpages/2 ? (page-(pageNumberInNavigation/2)) : 1 %}
{% set currentEndPageNo = page > maxresultpages/2 ? (currentStartPageNo+pageNumberInNavigation-1)>maxresultpages ? maxresultpages:(currentStartPageNo+pageNumberInNavigation-1) : pageNumberInNavigation %}
{% set currentStartPageNo = currentEndPageNo-(pageNumberInNavigation-1) %}
#}
<h2>Search results for "{{ term }}"</h2>
<div class="bing-result-snippet clarfix">{{ currentPath }}</div>
<div class="bing-results-header clarfix">{{ head | raw }}</div>
<div class="bing-search-results clarfix" start="{{ pagerstart }}">
{% for result in results %}
    {#{% if 'order.nia.nih.gov'not in result.url %} {{ twig_content_variable|replace({ (replace_value_var): replace_with_value_var }) }}#}
    <div class="bing-result-wrapper">
        <h3 class="title search-title"><a href="{{ (result.url|raw)}}">{{ (result.name|replace({'<b>':'<mark>','</b>':'</mark>'}))|raw }}</a></h3>
        <p class="sumarry search-summary">
            <a class="link" href="{{ result.url }}">{{ result.displayUrl|raw }}</a><br>
            <span class="bing-result-snippet">{{ (result.snippet|replace({'<strong>':'<mark>','</strong>':'</mark>'}))|raw }}</span>
        </p>
    </div>
    {#{% endif %}#}
{% endfor %}
</div>
<nav class="pager pagination" role="navigation" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
  {{(pager | raw )}}
</nav>

{#only print footer counts when total >0 #}
{#
{% if total %}
    {% if  allpages>1 %}
<div class="bing-result-pages">
    <p align="center">

        {% if page > 1 and allpages > 1 %}
            <a class="link" href="{{ url('<current>') }}?page={{(page-1)}}">Previous</a>&nbsp;
        {% endif %}

        {% for i in currentStartPageNo..currentEndPageNo %}
            {% if i==page or (page==0 and i==1) %}
                {{ i }}&nbsp;
            {% else %}
                <a class="link" href="{{ url('<current>') }}?page={{i}}">{{ i }}</a>&nbsp;
            {% endif %}
        {% endfor %}
        {% if page<maxresultpages and allpages > 1%}
            <a class="link" href="{{ url('<current>') }}?page={{(page+1)}}">Next</a>&nbsp;
        {% endif %}
    </p>
</div>
    {% endif %}
{% else %}
    <p>
    <div style="float: left;"><b>Your search yielded no results</b>

        <ul>
            <li>Check if your spelling is correct.</li>
            <li>Remove quotes around phrases to search for each word individually. bike shed will often show more results than "bike shed".</li>
            <li>Consider loosening your query with OR. bike OR shed will often show more results than bike shed.</li>
        </ul>
    </div>
    </p>
{% endif %}

#}
