{# comment #}
<div class="content content-inner col-12-full">
  <article class="content_main col_left col-9-left">
    <h1 class="page-title node-title">
      {{ label }}
      <br>
      <span class="postdate">
      {{ content.field_date|field_value }}
      </span>
    </h1>

    {% if blog_author %}
      <div class="blog_author">
        {{ blog_author }}
      </div>
    {% endif %}

    <div class="tags">
      <p>{{ content.field_blog_tag|field_value }}</p>
    </div>

    {{ content|without('field_date') }}

  </article>

  {% if sidebar_second %}
  <aside class="sidebar col_right col-3-right">
    {{ sidebar_second }}
  </aside>
  {% endif %}
</div>
