{# comment #}
<a href="{{ content.field_link.0['#url'] }}" class="card card_50 card-item feature_item resource_item">
  <picture class="promo_image">
    {{ content.field_promo_image }}
  </picture>
</a>
