{# comment #}
<div class="content title-inner col-12-full">
  <div class="content_inset clearfix">
    <h1 class="page-title node-title">
      {{ label }}
    </h1>
  </div>
</div>

<div class="content content-inner content_full col-12-full">
  <div class="content_inset clearfix">
    {{ content.field_full_milestone }}

    <h2>{{ content.field_success_criteria|field_label }}</h2>
    <p>{{ content.field_success_criteria|field_value }}</p>

    <h2>Time Required</h2>
    <p>{{ content.field_time_required_from|field_value }} to {{ content.field_time_required_to|field_value }}</p>

    {% if node.field_ad_research_implementation %}
      <h2>Research Implementation Area</h2>
      <p>{{ content.field_ad_research_implementation|field_value }}</p>
    {% endif %}

    {% if node.field_cadro_category %}
      <h2>{{ content.field_cadro_category|field_label }}</h2>
      <p>{{ content.field_cadro_category|field_value }}</p>
    {% endif %}

    {% if node.field_funding_activities_link %}
      <h2>{{ content.field_funding_activities_link|field_label }}</h2>
      <p>{{ content.field_funding_activities_link|field_value|safe_join('<br>') }}</p>
    {% endif %}

    {% if node.field_related_iadrp_link %}
      <h2>{{ content.field_related_iadrp_link|field_label }}</h2>
      <p>{{ content.field_related_iadrp_link|field_value|safe_join('<br>') }}</p>
    {% endif %}
  </div>
</div>
