{# comment #}
<div class="content content-inner col-12-full">
  {% if sidebar_first %}
    <aside class="sidebar column_left col-3-left">
      <div class="sidenav-wraper">
        {{ sidebar_first }}
      </div>
    </aside>
  {% endif %}

  <article class="content_main column_right col-9-right">
    <h1 class="page-title node-title">
      {{ label }}
    </h1>

    {{ content|without('comment') }}
  </article>
</div>