{# comment #}
<div class="title-inner">
  <div class="content_inset clearfix">
    <h1 class="page-title node-title">
      {{ label }}
    </h1>
  </div>
</div>

{% if node.field_hero_image.value %}
  <div class="node-hero__wrapper">
    <picture class="node-hero special_hero">
      {{ content.field_hero_image }}
    </picture>
  </div>
{% endif %}

<div class="content content-inner grid-12-full">
  <div class="content_inset clearfix">
    {{ content.body }}
  </div>
  {% if sub_content %}
  <div class="sub-content">
    {{ sub_content }}
  </div>
  {% endif %}

</div>

{% if promo_adear_section %}
<div class="bg_fluid bg_img clearfix" role="content">
  {{ promo_adear_section }}
</div>

{% else %}
{% endif %}

{% if content.field_promo_3_up|field_raw('value')|number_format(0,'.',',') is same as('1') %}
  <div class="bg_fluid bg_tangerine feature clearfix" role="content">
    <div class="content content-inner">
      <div class="mainbox feature_resources">

        <div class="section-header">
          <h2 class="section-title taxonomy-label">
            Featured Resources
          </h2>
        </div>
        {{ content.field_promo_3_up }}
      </div>

    </div>
  </div>
{% else %}
{% endif %}
