{# comment #}
<article class="feature_item feature-blog">
  <h2 class="feature-title">
    <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
      {{ label }}
    </a>
    <br>
    <span class="postdate">
      {{ content.field_date }}
    </span>
  </h2>

  <div class="tags">
    <p>{{ content.field_blog_tag|field_value }}</p>
  </div>

  <div class="blog_author">
    {# spaceless is needed to remove the trailing space after the rendered field #}
    {% spaceless %}{{ content.field_blog_author }}{% endspaceless %},
    {{ node.field_blog_author.entity.field_staff_job_title.value }},
    {# divisions field can have mutiple values, we need to go through each one #}
    {% for division in node.field_blog_author.entity.field_division %}
      {{ division.entity.getName }}
    {% endfor %}
  </div>

  <div class="feature-summary">
    {% autoescape false %}
      {% if node.body.summary %}
        {{ node.body.summary }}
      {% else %}
        {# Keeps the nice formatting on the rows if there is no summary #}
        &nbsp;
      {% endif %}
    {% endautoescape %}
  </div>
</article>
