{# comment #}
<div class="container bg_fluid bg_white clearfix" role="content">

  {% if content.field_hero_image %}
    <div class="node-hero__wrapper">
      <picture class="node-hero special_hero">
        {{ content.field_hero_image|field_value }}
      </picture>
    </div>
  {% else %}
  {% endif %}

  {% if node.body.value %}
    <div class="content content-inner grid-12-full">
      <div class="content_inset clearfix">
        {{ content.body }}
      </div>
    </div>
  {% else %}
  {% endif %}

  {% set field_tile_menu = content.field_tile_menu|render %}
  {% if content.field_tile_menu %}
    {{ content.field_tile_menu }}
  {% endif %}

  {% if sub_content %}
  <div class="content content-inner content_full grid-12-full">
    {{ sub_content }}
  </div>
  {% endif %}

</div>

{% if polar_section %}
  <div class="bg_fluid bg_polar clearfix" role="content">
    <div class="promo_contents quick-links">
      <div class="content content-inner">
        {{ polar_section }}
      </div>
    </div>
  </div>
{% endif %}

{% if grey_section %}
  <div class="bg_fluid bg_smoke clearfix" role="content">
    <div class="content content-inner">
      <div class="masonry">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{ grey_section }}
      </div>
    </div>
  </div>
{% endif %}

{% if content.field_promo_3_up|field_raw('value')|number_format(0,'.',',') is same as('1') %}
  <div class="bg_fluid bg_tangerine feature clearfix" role="content">
    <div class="content content-inner promo-inner promo_3up">
      <div class="mainbox feature_resources">

        <div class="section-header">
          <h2 class="section-title taxonomy-label">
            Featured Resources
          </h2>
        </div>
        {{ content.field_promo_3_up }}
      </div>

    </div>
  </div>
{% else %}
{% endif %}
