
{# comment #}
<div class="content content-inner col-12-full">

  {% if sidebar_first %}
  <aside class="sidebar column_left col-3-left">
    <div class="sidenav-wraper">
      {{ sidebar_first }}
    </div>
  </aside>
  {% endif %}

  <article class="content_main col_left col-9-right">

    <h1 class="page-title node-title">
      {{ label }}
    </h1>

    <div class="profile_container profile_top clearfix">

      <div class="profile_photo">
        {{ content.field_image }}
      </div>

      <div class="profile_job">
        {{ content.field_staff_job_title }}
        {{ content.field_division }}
        {{ content.field_staff_phone }}
        {{ content.field_staff_email }}
      </div>

    </div>

    <div class="profile_container profile_bottom clearfix">
      <div class="profile_bio">
        <h2>{{ content.field_bio|field_label }}</h2>
        {{ content.field_bio|field_value }}
        {% if content.field_pdf_ltd_1 and node.field_pdf_ltd_1.value %}
          <p class="staff_cv">
            <a href="{{ node.field_pdf_ltd_1.entity.getFileUri()|replace({'public://' : '/sites/default/files/'}) }}">
              {{ node.field_staff_first_name.value ~ ' ' }}
              {% if not (node.field_staff_mi.value is empty) %}
                {{ node.field_staff_mi.value ~ ' ' }}
              {% endif %}
              {{ node.field_staff_last_name.value ~ "'s Curriculum vitae " }}
              {{ '(PDF, ' ~ (node.field_pdf_ltd_1.entity.getSize()/1024)|number_format(2, '.') ~ 'KB)' }}
            </a>
          </p>
        {% endif %}
      </div>

      {% if node.field_portfolio %}
        <div class="profile_portfolio">
          <h2>{{ content.field_portfolio|field_label }}</h2>
          {{ content.field_portfolio|field_value }}
        </div>
      {% endif %}
    </div>

    {% if sub_content %}
      {{ sub_content }}
    {% endif %}

  </article>

</div>
