{# comment #}
<div class="content content-inner content_full col-12-full">
  <div class="content_inset clearfix">
    <h1 class="page-title node-title">
      {{ label }}
    </h1>
    {{ content }}
  </div>
</div>
