{# comment #}
<div class="container region_content bg_fluid bg_white clearfix" role="content">

  <div class="title-inner">
    <div class="content_inset clearfix">
      <h1 class="page-title node-title">
        {{ label }}
      </h1>
    </div>
  </div>

  {% if node.field_hero_image.value %}
    <div class="node-hero__wrapper">
      <picture class="node-hero special_hero">
        {{ content.field_hero_image }}
      </picture>
    </div>
  {% else %}
  {% endif %}

  {{ content|without('field_promo', 'field_promo_3_up', 'field_custom_3_up_promo', 'field_custom_related_articles', 'field_hero_image', 'field_tile_menu') }}

  {% set field_tile_menu = content.field_tile_menu|render %}
  {% if content.field_tile_menu %}
    {{ content.field_tile_menu }}
  {% endif %}

  {% if sub_content %}
  <div class="sub-content content-inner">
    {{ sub_content }}
  </div>
  {% endif %}

</div>

{% if grey_section %}
  <div class="bg_fluid bg_smoke clearfix" role="content">
    <div class="content content-inner">
      {{ grey_section }}
    </div>
  </div>
{% endif %}

{% if content.field_promo_3_up|field_raw('value')|number_format(0,'.',',') is same as('1') %}

  <div class="bg_fluid bg_tangerine feature clearfix" role="content">
    <div class="content content-inner promo-inner promo_3up">
      <div class="mainbox feature_resources">
        <div class="section-header">
          <h2 class="section-title taxonomy-label">
            Featured Resources
          </h2>
        </div>
        {{ content.field_promo_3_up }}
      </div>

    </div>
  </div>

{% else %}
{% endif %}

{% if polar_section %}
  <div class="bg_fluid bg_polar clearfix" role="content">
    <div class="promo_contents quick-links">
      <div class="content content-inner">
        {{ polar_section }}
      </div>
    </div>
  </div>
{% endif %}

{% if content.field_custom_related_articles|field_raw('value')|number_format(0,'.',',') is same as('1') %}

  <div class="bg_fluid bg_white clearfix" role="content">
    <div class="content content-inner content_bottom promo_2up">
      {{ content.field_promo }}
    </div>
  </div>

{% else %}
{% endif %}
