{# comment #}
<article{{ attributes.addclass('feature_item', 'topical_item', 'teaser', 'col-12-full') }}>
  <div class="topical_text col-8-left">
    <h2{{ title_attributes.addclass('feature-title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    <div class="feature-summary">{{ node.body.summary }}</div>
  </div>
  <div class="topical_image col-4-right">
    {{ content.field_image }}
  </div>
</article>