
{# comment #}
<div class="content content-inner col-12-full">

  <article class="content_main col_left col-9-left">
    {{ content }}
    {% if sub_content %}
    <div class="sub-content">
      {{ sub_content }}
      <div class="link_wrapper">
        <p>
          <a class="intro-link link-text link-arrow-right" href="/research/blog/all">View all Research Blog</a>
        </p>
      </div>
    </div>
    {% endif %}
  </article>

  {% if sidebar_second %}
  <aside class="sidebar col_right col-3-right">
    {{ sidebar_second }}
  </aside>
  {% endif %}

</div>
