{# comment #}
<div class="content content-inner col-12-full">

  <article class="content_main content_full col_left col-8-left">

    <div class="content_inset clearfix">
      <span class="subheader topical_term">
        {{ content.field_health_topics|field_value }}
      </span>
      <h1 class="page-title node-title">
        {{ label }}
      </h1>
    </div>

    {% if node.field_intro.value %}
      <div class="content_inset">
        {{ content.field_intro }}
      </div>
    {% endif %}

    {% if node.field_hero_image.value %}
      <div class="node-hero__wrapper">
        <picture class="node-hero special_hero">
          {{ content.field_hero_image }}
        </picture>
      </div>
    {% endif %}

    <div class="content_inset clearfix">
      {{ content.body|field_value }}

      {{ content.field_health_info_resources|field_value }}

      <p class="postdate">
        {% if node.field_publish_date.value %}
          Content reviewed: {{ node.field_publish_date.value|date("F d, Y") }}
        {% endif %}
        <br>
        {% if logged_in %}
          Updated: {{ node.getChangedTime|date("F d, Y") }}
        {% endif %}
      </p>
    </div>

    {% if sub_content %}
    <div class="sub-content">
      {{ sub_content }}
    </div>
    {% endif %}

  </article>

  {% if sidebar_second %}
  <aside class="sidebar col_right col-4-right">
    {{ sidebar_second }}
  </aside>
  {% endif %}

</div>

<div class="bg_fluid bg_smoke feature clearfix" role="content">

  <div class="content content-inner">

    {% if content.field_custom_related_articles|field_raw('value')|number_format(0,'.',',') is same as('1') %}

      <div class="mainbox feature_resources">

        <div class="section-header">
          <h2 class="section-title taxonomy-label">
            Related Articles
          </h2>
        </div>

        {{ content.field_related_publications }}

      </div>

    {% else %}
      {{ related_articles_section }}
    {% endif %}

  </div>

</div>
