{# comment #}
{{ content|without('field_promo', 'field_promo_3_up', 'field_custom_3_up_promo', 'field_custom_related_articles', 'field_hero_image', 'field_tile_menu') }}

{% if sub_content %}
<div class="sub-content">
  {{ sub_content }}
</div>
{% endif %}
