{# comment #}
<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="card_33 card-item related-item">
  <span class="teaser-thumbnail related-thumbnail">
    {{ content.field_image }}
  </span>
  <p class="title teaser-title related-title">
    {{ label }}
  </p>
</a>
