{# comment #}
<div class="content content-inner col-12-full">
  {% if sidebar_first %}
    <aside class="sidebar column_left col-3-left">
      <div class="sidenav-wraper">
        {{ sidebar_first }}
      </div>
    </aside>
    <article class="content_main col_right col-9-right">
    {% else %}
    <article class="content content-inner grid-12-full">
    <div class="content_inset clearfix">
    {% endif %}

      <h1 class="page-title node-title">
        {{ label }}
      </h1>
      {{ content|without('comment') }}

      {% if sub_content %}
        <div class="sub-content">
          {{ sub_content }}
        </div>
      {% endif %}
    </div>
    </article>
</div>
