{# comment #}
<div class="newsheader clearfix">
  <span class="subheader topical_term">
    {{ content.field_news_category|field_value }}
  </span>

  <h1 class="page-title node-title">
    {{ label }}
  </h1>

  {% if node.field_date.value %}
    <span class="postdate">
      {{ content.field_date }}
    </span>
  {% endif %}
</div>

{% if node.field_contact.value %}
  <div class="news_contact clearfix">
    {{ content.field_contact}}
  </div>
{% endif %}

{% if node.field_hero_image.value %}
  <div class="node-hero__wrapper clearfix">
    <picture class="node-hero special_hero">
      {{ content.field_hero_image }}
    </picture>
  </div>
{% endif %}

{% if node.field_subtitle.value %}
  <div class="special_intro clearfix">
    <p>{{ content.field_subtitle }}</p>
  </div>
{% endif %}

<div class="content_full clearfix">

  {{ content.body|field_value }}

  {{ content.field_boilerplate|field_value }}

</div>
