{# comment #}
<a href="{{ content.field_link.0['#url'] }}" class="card card_33 card-item feature_item resource_item">
  <span class="card_thumb">
    {{ content.field_image }}
  </span>
  <p class="card_copy">
    {{ label }}
  </p>
</a>
