{# comment #}
<div class="content content-inner col-12-full">

  {% if sidebar_first %}
  <aside class="sidebar column_left col-3-left">
    <div class="sidenav-wraper">
      {{ sidebar_first }}
    </div>
  </aside>
  {% endif %}

  <article class="content_main col_left col-9-left">

    <h1 class="page-title node-title">
      {{ label }}
    </h1>

    {{ content|without('field_custom_related_articles', 'field_promo') }}

    {% if sub_content %}
      {{ sub_content }}
    {% endif %}

  </article>

</div>

{% if content.field_custom_related_articles|field_raw('value')|number_format(0,'.',',') is same as('1') %}

  <div class="bg_fluid bg_white clearfix" role="content">
    <div class="content promo-inner promo_2up">
      {{ content.field_promo }}
    </div>
  </div>

{% endif %}
