{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{{ content.description }}

{{ content.field_tile_menu }}

<div class="content content-inner grid-12-full">

  {% if view_block_empty.health_topics_news is defined and not view_block_empty.health_topics_news %}
    <section class="feature_news clearfix">
      {{ health_topics_news }}
      <div class="link_wrapper">
        <p>
          <a class="intro-link link-text link-arrow-right" href="/news/all?topic={{ term.id }}">View all related news</a>
        </p>
      </div>
    </section>
  {% endif %}

  {% if view_block_empty.health_topics_articles is defined and not view_block_empty.health_topics_articles %}
    <section class="topics_articles clearfix">
      {{ health_topics_articles }}
    </section>
  {% endif %}

</div>

{% if promo_section %}
<div class="bg_fluid bg_img clearfix" role="content">
  {{ promo_section }}
</div>
{% else %}
{% endif %}

{% if promo_adear_section %}
<div class="bg_fluid bg_img clearfix" role="content">
  {{ promo_adear_section }}
</div>
{% else %}
{% endif %}
