{#
/**
 * @file
 * Theme override to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 */
#}
{% if tree or has_links %}
  <nav class="book-nav--wrapper" role="navigation" aria-labelledby="book-label-{{ book_id }}">
    {% if has_links %}
      <ul class="book-nav">
      {% if prev_url %}
        <li class="chapter book-nav--item">
          <a href="{{ prev_url }}" rel="prev" title="{{ 'Go to previous page'|t }}" class="chapter-link prev"><span class="fa fa-angle-left" aria-hidden="true"></span><span class="chapter-title">{{ prev_title }}</span></a>
        </li>
      {% endif %}
      {% if next_url %}
        <li class="chapter book-nav--item">
          <a href="{{ next_url }}" rel="next" title="{{ 'Go to next page'|t }}" class="chapter-link next"><span class="chapter-title">{{ next_title }}</span><span class="fa fa-angle-right" aria-hidden="true"></span></a>
        </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
{% endif %}
