{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="section_breadcrumb container" role="navigation" aria-labelledby="system-breadcrumb">
    <div class="content breadcrumb_inner">
      <div class="breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        {% for item in breadcrumb %}
        {% if item.url %}
        <span><a href="{{ item.url }}">{{ item.text }}</a></span>
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </nav>
{% endif %}
