{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <span class="logo clearfix">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="/themes/nia/images/logo_nih-nia.svg" onerror="this.src='/themes/nia/images/logo_nih-nia.png'" alt="{{ 'Home'|t }}" />
      </a>
    </span>
  {% endif %}
{% endblock %}
