{%
  set classes = [
    'img-svg',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <picture{{ attributes.addClass(classes) }}>
    {{ item.content }}
  </picturte>
{% endfor %}
