{%
  set classes = [
    'intro',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    {{ item.content }}
  </div>
{% endfor %}
