{%
  set classes = [
    'content',
    'intro-inner',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div{{ attributes.addClass(classes) }}>
    <div class="content_inset intro">
      {{ item.content }}
    </div>
  </div>
{% endfor %}
