{%
  set classes = [
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'content_inset',
    'content_full',
    'clearfix',
  ]
%}

{% for item in items %}
<div class="intro-inner">
  <div{{ attributes.addClass(classes) }}>
    <div class="intro">
      {{ item.content }}
    </div>
  </div>
</div>
{% endfor %}
