{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{# If field is part of name have container be inline#}
{% if field_name == 'field_staff_first_name' or field_name == 'field_staff_last_name' or field_name == 'field_staff_mi' %}
  <span{{ attributes }}>
{% else %}
  <div{{ attributes }}>
{% endif %}

    {# Display label if not hidden #}
    {% if not label_hidden %}
      <span {{ title_attributes }}><strong>{{ label }}</strong>: </span>
    {% endif %}

    {# Display items inline #}
    {% for item in items %}
      <span {{ item.attributes }}>{{ item.content }}</span>
    {% endfor %}

{# Closing tags for container depending on if field is part of name #}
{% if field_name != 'field_staff_first_name' and field_name != 'field_staff_last_name' and field_name != 'field_staff_mi' %}
  </div>
{% else %}
  </span>
{% endif %}
