// Breadcrumb

.breadcrumb {
  @include media($odd) {
    display: none;
  }

  @include media($small) {
    display: none;
  }
}

.breadcrumb > li {
  @include inline-block;
}

.breadcrumb > span+span:before {
  content: "/";
  margin: 0 .5rem;
}
