
.form-search,
.search-bing-form {
	display: flex;
}

.inline,
.form-search input,
.form-search button {
	flex: auto;
	display: block;
}

.search-box__textfield,
.form-search .search-query {
  background: none;
	box-shadow: none;
	border: none;
	color: $base-font-color;
	@include font-size(22px);
	@include padding(.75rem 0);
	line-height: 1.5;
	margin-bottom: 0;
}

.search-bing-form button[type='submit'],
.form-search button[type='submit'] {
  background: none;
  float: right;
  @include padding(0);
	&:focus, &:hover {
		background-color: none;
		border: none;
	}
}

.email-field,
.form-search,
.search-bing-form,
.select_menu {
	box-sizing: content-box;
	@include border-top-radius(8px);
	@include border-bottom-radius(8px);
}

.form-search,
.search-bing-form {
	@include padding(0 .75rem);
}

.email-field {
	@include padding(.6rem .5rem);
	float: left;
	line-height: 1.25;
	width: 12.5rem;
}

.form-search,
.search-bing-form {
	$side: 2px;
	@include border($side $side $side $side, $dolphin);
}

.search-box__textfield {
	border: none !important;
}

.form-search-topics,
.main-content .email-field,
.select_menu {
	$side: 1px;
	@include border($side $side $side $side, $dolphin);
}

.form_sign-up .form_submission {
	display: flex;
	// width: 33.75rem;
	max-width: 100%;
	flex-direction: row;

	input {
		margin: 0 0 .75rem 0;
		max-height: 56px;

		&.text-field {
			margin: 0 .5rem .75rem 0;
		}

	}

	@include media($narrow) {
		flex-direction: column;
	}
	@include media($odd) {
		flex-direction: column;
	}
	@include media($small) {
		flex-direction: column;
	}
}

.form_submission {
	.email-field {
		flex: auto;
	}
	.btn-submit {
		flex: auto;
	}
}

.main-content .form_sign-up .form_submission {
	input {
		&:nth-child(1) {
			width: calc(100% / 5 * 4);

			@include media($medium) {
				width: calc(100% / 5 * 3);
				max-width: 100%;
			}
			@include media($narrow) {
				width: calc(100% / 4 * 3);
				max-width: 100%;
			}
			@include media($odd) {
				width: auto;
				max-width: 100%;
			}
			@include media($small) {
				width: auto;
				max-width: 100%;
			}
		}

		&:nth-child(2) {
			width: calc(100% / 5 * 1);

			@include media($medium) {
				width: calc(100% / 5 * 2);
				max-width: 100%;
			}
			@include media($narrow) {
				width: calc(100% / 4 * 1);
				max-width: 100%;
			}
			@include media($odd) {
				width: auto;
				max-width: 33%;
			}
			@include media($small) {
				width: auto;
				max-width: 33%;
			}
		}
	}
}

.box__signup .form_sign-up {
	max-width: 100%;
}


.footer .email-field {
	$side: 1px;
	@include border($side $side $side $side, $white);
}

.form-search-topics {
	  background-color: $white;
}

.form_inline {
	display: flex;
	flex-direction: column;
}

.form_element_left {
	flex-grow: 1;
}

.form_element {
	@include inline-block;
}

$select-color: $dolphin;
$select-background: $smoke;
$select-width: 100%;
$select-height: 2.5rem;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}

.select-styled {
	$side: 1px;
	@include border($side $side $side $side, $dolphin);
	@include border-top-radius(8px);
  @include border-bottom-radius(8px);
  @include font-size(22px);
	line-height: 1.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	z-index: 1;
  background-color: lighten($select-background, 100);
  padding: .5rem 1rem;
  &:before {
    border-top: 3px solid $black;
    border-right: 3px solid $black;
    box-sizing: border-box;
    content: '';
    height: 16px;
    right: .5rem;
		margin-top: .5rem;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -75%, 0px) rotate(135deg);
    width: 16px;
  }
  &:hover {
    background-color: darken($select-background, 0);
  }
  &:active, &.active {
		border-bottom: none;
		@include border-bottom-radius(0);
    background-color: darken($select-background, 1);
    &:before {
      transform: translate3d(-50%, -25%, 0px) rotate(-45deg);
    }
  }
}

.select-options {
	$side: 1px;
	@include border(0 $side $side $side, $dolphin);
	@include border-bottom-radius(8px);
  display: none;
  position: absolute;
  // top: 100%;
  right: 0;
  left: 0;
	margin-top: -1px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: lighten($select-background, 100%);
  li {
		box-sizing: border-box;
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    &:hover {
			color: $black;
      // color: $select-background;
      // background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
		&:last-of-type {
			@include border-bottom-radius(8px);
		}
  }
}

// Bing Search Form Hacks

.search-bing-form {
	align-items: center;
}

.form-search,
.search-bing-form {
	box-sizing: border-content;
	.js-form-item {
		margin: 0;
		width: 100%;
	}
}

.bing-form-item > input.form-text {
	background: none !important;
	border: none;
  border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}

.bing-search-form.col-4-right {
	@include media($odd) {
		@include padding(0 0 2rem);
	}
	@include media($small) {
		@include padding(0 0 2rem);
	}
}

// Clinical Trials Form Hacks

.ct_filter {
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	clear: both;
	display: block;
	@include padding(1.75%);
	width: 100%;
}

.clinical-trials-search-form {
	.form-item {
		float: left;
		width: 46.25%;
		margin: 0 3.75% .5rem 0;
	}
	.form-submit {
		margin: .5rem .5rem 0 0;
	}

	.form-search,
	.form-select {
		border: none;
		@include border-top-radius(4px);
		@include border-bottom-radius(4px);
		@include padding(0 .5rem);
	}
}

.clinical-trials-search-form .form-item-help {
	float: right;
}

@media (max-width: 800px) {
	.clinical-trials-search-form > .form-item {
		width: 100%;
		margin-right: 0;
	}

	.form-item > input {
		max-width: 96%;
	}

	.clinical-trials-search-form .form-search,
	.clinical-trials-search-form .form-select {
		@include padding(0 2%);
	}
}

.clinical-trials-search-form {
	.form-select, .form-search {
		height: 2.75rem;
	}
}
