/* Flexnav Base Styles */
.flexnav
{
    overflow: hidden;

    width: 100%;
    max-height: 0;
    margin: 0 auto;

    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
            transition: none;

    -webkit-transform-style: preserve-3d;

    position: relative; /* <-- Added */
    z-index: 4; /* <-- Added */
}
.flexnav.opacity
{
    opacity: 0;
}
.flexnav.flexnav-show
{
    max-height: 2000px;

    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;

    opacity: 1;
}
.flexnav.one-page
{
    position: fixed;
    top: 50px;
    right: 5%;

    max-width: 200px;
}
.flexnav li
{
    font-size: 100%;

    position: relative;

    overflow: hidden;
}
.flexnav li a
{
    position: relative;
    z-index: 10;

    display: block;
    overflow: hidden;

    padding: .96em;
    // color: #222;
    // border-bottom: 1px solid rgba(0, 0, 0, .15);
    // background: #a6a6a2;
}
.flexnav li ul
{
    width: 100%;
}
.flexnav li ul li
{
    font-size: 100%;

    position: relative;

    overflow: hidden;
}
.flexnav li ul.flexnav-show li
{
    overflow: visible;
}
.flexnav li ul li a
{
    display: block;

    // background: #b2b2af;
}
.flexnav ul li ul li a
{
    // background: #bfbfbc;
}
.flexnav ul li ul li ul li a
{
    // background: #cbcbc9;
}
.flexnav .touch-button
{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;

    display: inline-block;

    width: 50px;
    height: 50px;

    // text-align: center;

    // background: #acaca1;
    // background: rgba(0, 0, 0, .075);
}
.flexnav .touch-button:hover
{
    cursor: pointer;
}
// .flexnav .touch-button .navicon
// {
//     font-size: 12px;
//
//     position: relative;
//     top: 1.4em;
//
//     color: #666;
// }

.menu-button
{
    position: relative;

    display: block;

    // padding: 1em;

    cursor: pointer;

    // color: #222;
    // border-bottom: 1px solid rgba(0, 0, 0, .2);
    // background: #a6a6a2;
}
.menu-button.one-page
{
    position: fixed;
    top: 0;
    right: 5%;

    padding-right: 45px;
}
.menu-button .touch-button
{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;

    display: inline-block;

    width: 50px;
    height: 50px;

    text-align: center;

    background: transparent;
}
// .menu-button .touch-button .navicon
// {
//     font-size: 16px;
//
//     position: relative;
//     top: 1em;
//
//     color: #666;
// }

@media all and (min-width: 960px)
{
    body.one-page
    {
        padding-top: 70px;
    }

    .flexnav
    {
        overflow: visible;
    }
    .flexnav.opacity
    {
        opacity: 1;
    }
    .flexnav.one-page
    {
        top: 0;
        right: auto;

        max-width: 1080px;
    }
    .flexnav li
    {
        position: relative;

        display: block;
        float: left;
        overflow: visible;

        width: 20%;

        list-style: none;

        // background-color: #a6a6a2;
    }
    .flexnav li a
    {
        border-bottom: none;
        // border-left: 1px solid #acaca1;
    }
    .flexnav li > ul
    {
        position: absolute;
        top: auto;
        left: 0;
    }
    .flexnav li > ul li
    {
        width: 100%;
    }
    .flexnav li ul li > ul
    {
        top: 0;

        margin-left: 100%;
    }
    .flexnav li ul li a
    {
        border-bottom: none;
    }
    .flexnav li ul.open
    {
        z-index: 4;

        display: block;
        visibility: visible;

        opacity: 1;
    }
    .flexnav li ul.open li
    {
        overflow: visible;

        max-height: 100px;
    }
    .flexnav li ul.open ul.open
    {
        top: 0;

        margin-left: 100%;
    }

    .menu-button
    {
        display: none;
    }
}
.oldie body.one-page
{
    padding-top: 70px;
}
.oldie .flexnav
{
    overflow: visible;
}
.oldie .flexnav.one-page
{
    top: 0;
    right: auto;

    max-width: 1080px;
}
.oldie .flexnav li
{
    position: relative;

    display: block;
    float: left;
    overflow: visible;

    width: 20%;
    min-height: 50px;

    list-style: none;

    // background-color: #a6a6a2;
}
.oldie .flexnav li:hover > ul
{
    display: block;
    overflow: visible;

    width: 100%;
}
.oldie .flexnav li:hover > ul li
{
    float: none;

    width: 100%;
}
.oldie .flexnav li a
{
    overflow: visible;

    border-bottom: none;
    // border-left: 1px solid #acaca1;
}
.oldie .flexnav li > ul
{
    position: absolute;
    z-index: 1;
    top: auto;
    left: 0;

    display: none;
    overflow: visible;

    // background: #acaca1;
}
.oldie .flexnav li ul li ul
{
    top: 0;
}
.oldie .flexnav li ul li a
{
    border-bottom: none;
}
.oldie .flexnav li ul.open
{
    display: block;
    overflow: visible;

    width: 100%;
}
.oldie .flexnav li ul.open li
{
    width: 100%;
}
.oldie .flexnav li ul.open ul.open
{
    top: 0;

    display: block;
    overflow: visible;

    width: 100%;
    margin-left: 100%;
}
.oldie .flexnav ul li:hover ul
{
    top: 0;

    margin-left: 100%;
}
.oldie .menu-button
{
    display: none;
}
.oldie.ie7 .flexnav li
{
    width: 19.9%;
}

$breakpoint: 960px;

.flexnav {
  .touch-button {
    @media(min-width:$breakpoint){
      display:none;
    }
  }

  li {
    @media(min-width:$breakpoint){
      width: 24.44%;
      font-weight: bold;
      text-align: center;
    }

    a {
      color: $dolphin;
      text-decoration: none;
      @include padding(1.25rem);

      &.active,
      &:hover {
        $side: .625rem;
        @include border($side 0 0 0, $cardinal);
        @include padding(.625rem 1.25rem 1.25rem);
        cursor: pointer;
        background-color: $smoke;
        color: $black;
        cursor: pointer;
        text-decoration: underline;
        // text-underline-position: under;

        @media(max-width:$breakpoint) {
          padding-top: 1.25rem;
          border: none;
          text-decoration: none;
        }
      }
    }
  }
}

// FlexNav Hack

.flexnav li {
  background: $smoke;
}

.navigation,
.side_nav,
.flexnav li {
  @include font-size(20px);
  text-transform: uppercase;
}

.flexnav li + li {
  $side: 1px;
  @include border(0 0 0 $side, $dark-gray);
}

.flexnav li ul {
  padding-bottom: 1.75rem;
}

.flexnav li ul,
.flexnav li ul li {
  background-color: $cardinal;
}

.flexnav li ul li {
  @include font-size(18px);
  text-transform: none;
  text-align: left;
  border-left: none;
}

.flexnav li > ul > li > a {
  color: $white;
  @include padding(.625rem 1.25rem);
  &.active,
  &:hover {
    @include padding(.625rem 1.25rem);
  }
}

.flexnav li ul {
  box-sizing: border-box;
  $side: 1px;
  @include border($side $side $side $side, $dark-gray);
  left: 0;
}

.flexnav li > ul > li > a {
  &:hover {
    text-decoration: none !important;
  }
}

.flexnav li > ul > li:hover a {
  border-top: none;
  padding-top: .625rem;
}

.menu-button {
  height: 5rem;
  padding: 0 1rem;
}

.menu-button .touch-button,
.flexnav .touch-button {
  line-height: 1;
}

.menu-button .touch-button {
  height: 70px;
  max-width: 50px;
}

.flexnav .touch-button {
  height: 68px;
  width: 68px;
}

.touch-button .navicon {
  color: transparent;
  display: none;
}

.menu-button:hover,
.menu-button:hover > .touch-button {
    cursor: pointer;
}

.menu-button {
  text-align: right;
}

.menu-button .menu-label {
  color: rgba(101,100,106,1);
  @include inline-block;
  line-height: 1;
  margin: 0 0 0 0;
  margin: 64px 4px 0;
}

.menu-button:hover .menu-label {
  cursor: pointer;
  color: darken($dolphin, 8%);
}

.menu-button {
  background-color: $smoke;
  color: $dark-gray;
  @include font-size(20px);
  text-transform: uppercase;
  $side: 1px;
  @include border($side 0 0 0, $dark-gray);
  top: -1.25rem;
}

.menu-button > .touch-button {
  display: inline-block;
  position: relative;
  right: 1em;
}
.menu-button > .touch-button {
  position: absolute;
  background: rgba(101,100,106,1);
  height: 6px;
  width: 100%;
  top: 50%;
  margin-top: -4px;
  opacity: 1;
}
.menu-button > .touch-button::before {
  position: absolute;
  background: rgba(101,100,106,1);
  width: 50px;
  height: 6px;
  top: 16px;
  content: "";
  display: block;
}
.menu-button > .touch-button::after {
  position: absolute;
  background: rgba(101,100,106,1);
  width: 50px;
  height: 6px;
  bottom: 16px;
  content: "";
  display: block;
}
.menu-button > .touch-button::after,
.menu-button > .touch-button::before,
.menu-button > .touch-button {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.menu-button.menu-on > .touch-button::after {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.menu-button.menu-on > .touch-button::before {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
}
.menu-button.menu-on > .touch-button {
 background: rgba(101,100,106,.0);
}

.item-with-ul .touch-button {
  float: right;
  position: absolute;
  top: 2rem;
  right: .75rem;
  transform: translate3d(-50%,-50%,0px);
}

.item-with-ul .touch-button {
  cursor: pointer;
  height: 24px;
  width: 24px;

  &:before {
    border-top: 3px solid $dolphin;
    border-right: 3px solid $dolphin;
    box-sizing: border-box;
    content: '';
    height: 16px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -75%, 0px) rotate(135deg);
    width: 16px;
  }
}

.item-with-ul:hover .touch-button {
  &:before {
    border-top-color: $black;
    border-right-color: $black;
  }
}

.item-with-ul .touch-button.active:before {
  // The 'flip' state, just on hover for ease atm
  transform: translate3d(-50%, -25%, 0px) rotate(-45deg);
}
