.logo,
.logo a,
.logo_affiliate,
.logo_affiliate a {
	display: block;
	line-height: 0;
}

.logo,
.logo_affiliate {
	@include box-sizing(content-box);
}

.logo a,
.logo_affiliate a {
	@include box-sizing(border-box);
  vertical-align: top;
}

.logo_affiliate a {
	height: 34px;
	width: 290px;
	max-width: 100%;
}

.logo a {
	height: 64px;
	width: 568px;
	max-width: 100%;
}
