
// Menu

menu {
  margin: 0;
  padding: 0;
}

// Main Navigation

.navBox ul,
.dropNav ul,
.subnav ul {
  @include media($large) {
    text-align: center;
  }
}

.navigation {
    background: $smoke;
    box-sizing: content-box;
    @include border-width (1px null 1px);
    @include border-style(solid null solid);
    @include border-color($dark-gray null $dark-gray);
}

.navBox {
  overflow: hidden;
  background: $smoke;
}

.navBox a {
  display: block;
  padding: 1.5rem 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $dolphin;
}

.navBox a:hover,
.navBox a:focus {
  color: black;
}

.navBox .active {
  background: $smoke;
}

@include media($large) {
  .subnav menu ul,
  .navBox ul {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .subnav menu ul li,
  .navBox ul li {
    list-style: none;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    float: left;
    flex: auto;
    max-width: 18.75rem;
  }

  .navBox .dropNav {
    display: flex;
    position: absolute;
    z-index: 7;
    top: inherit;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
  }

  .subnav menu li,
  .dropNav li {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    max-width: 18.75rem;
  }

  .navBox ul > li a.active,
  .navBox ul > li a:hover {
    border-top: 10px solid $cardinal;
    cursor: pointer;
    padding-top: 14px;
  }

  .navBox ul > li > ul > li a.is-active,
  .navBox ul > li > ul > li a:hover {
    border-top: none;
  }

  .navBox ul > li > ul > li a:hover,
  .navBox ul > li > ul > li a.active,
  .submenu ul > li a:hover,
  .submenu ul > li a.active {
    background-color: $white;
    color: $black;
    border-top: 10px solid $tangerine;
    cursor: pointer;
    padding-top: 10px;
  }
}

.navBox ul > li a {
    transition: border-color .5s ease-in-out;
}

.subnav menu li a,
.dropNav li a {
  color: $white;
}

.navBox > ul > li.active {
    background-color: $smoke;
}

@include media($large) {
  .navBox ul {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }

  .navBox ul li+li {
    border-left: 1px solid $dark-gray;
  }

  .navBox li > ul > li {
    border-left: none;
  }

  #openPageslide {
    display: none;
  }

  #pageslide {
    display: block !important;
    }

    .pageslideBg
    {
        display: none !important;
    }
}

@include media($medium) {
  .navBox ul li
    {
        float: none;
    }

    .navBox > ul > li
    {
        border-bottom: 1px solid #1c93ce;
    }

    .navBox > ul > li > a {
      padding: .625rem;
    }

    .navBox .dropNav
    {
        position: static;

        background: #0f80b8;
    }

    #openPageslide
    {
      width: 40px;
      height: 40px;
      display: block;
      position: relative;
      cursor: pointer;
      left: 1rem;
      margin: .5rem 0 1.75rem;
    }

    #openPageslide span
    {
        display: block;
    }

    #pageslide
    {
        position: fixed;
        z-index: 6;
        top: 0;
        left: -200px;

        display: none;
        overflow-y: auto;

        width: 85%;
        height: 100%;
    }

    .pageslideBg
    {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
    }
}

.navigation-toggle-label {
  @include font-size(16px);
  color: $denim;
  font-weight: 600;
  text-align: center;
  display: block;
  text-transform: uppercase;
  position: relative;
  bottom: -1rem;
}

.navigation-toggle-icon {
  border-bottom: 6px solid $denim;
  padding-top: 17px;
  display: block;
}

.navigation-toggle-icon:before,
.navigation-toggle-icon:after {
  border-top: 6px solid $denim;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.navigation-toggle-icon:before {
  top: 4px;
}

.navigation-toggle-icon:after {
  bottom: 4px;
}

.navigation-close-icon {
  float: right;
  display: inline-block;
  border-radius: 50%;
}

.navigation-close-icon:hover,
.navigation-close-icon:focus {
  cursor: pointer;
}

.navigation-close-icon {
   color: #FFF;
   height: 38px;
   width: 38px;
   position: absolute;
   right: 6px;
   top: 6px;
   transition: 250ms ease;
   &:before, &:after {
     content: "";
     height: 2px;
     background: #FFF;
     width: 100%;
     position: absolute;
     top: 50%;
     left: 5%;
     transition: 250ms ease;
   }
   &:before {
     transform: rotate(-45deg);
   }
   &:after {
     transform: rotate(45deg);
   }
   &:hover, &:focus {
     border: 2px solid;
     border-radius: 100%;
     &:before, &:after {
       width: 50%;
       left: 25%;
     }
   }
}

.navBox .dropNav,
.subnav {
  background: $cardinal;
  @include border-width (null null 1px);
  @include border-style(null null solid);
  @include border-color(null null $dark-gray);
}

// Submenu

.subnav menu ul {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

.subnav menu a {
  display: block;
  padding: 1.25rem 0;
}

// Footer Menus

.social-menu {
  display: flex;
  justify-content: flex-start;

  padding: 0;

  @include media($narrow) {
    justify-content: center;
  }
  @include media($odd) {
    justify-content: center;
  }
  @include media($small) {
    justify-content: center;
  }
}

.social-link {
  @include box-sizing($border-box);
  float: left;
}

.social-link {
  @include media($narrow) {
    flex: auto;
  }
  @include media($odd) {
    flex: auto;
  }
  @include media($small) {
    flex: auto;
  }
}

.footer-menu {
  position: relative;
  bottom: 0;
  .menu {
    flex-wrap: wrap;
  }
}

.footer-menu ul {
  @include media($medium) {
    display: flex;
    justify-content: center;
  }
  @include media($narrow) {
    display: flex;
    justify-content: center;
  }
}

.footer-menu li {
    @include padding(0 .75em 0);
    @include inline-block;
    margin: .75rem 0 .75rem;
}

.footer-menu li+li {
  border-left: 1px solid white;
  @include media($narrow) {
    border-left: none;
  }
  @include media($odd) {
    border-left: none;
  }
  @include media($small) {
    border-left: none;
  }
}

.footer-menu li {
  @include media($narrow) {
    width: 100%;
    text-align: center;
  }
  @include media($odd) {
    width: 100%;
    text-align: center;
  }
  @include media($small) {
    width: 100%;
    text-align: center;
  }
}

.menu-link .arrow {
  float:right;
    position: relative;
    top: 1rem;
    right: -1rem;
    transform: translate3d(-50%,-50%,0px);
}

// The actual arrow styles, make it an area for 50x50 for ease of use on touch devices
.menu-link .arrow {
    cursor: pointer;
    height: 24px;
    width: 24px;

    &:before {
        border-top: 3px solid #FFF;
        border-right: 3px solid #FFF;
        box-sizing: border-box;
        content: '';
        height: 16px;
        right: -.25rem;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -75%, 0px) rotate(135deg);
        // Uncomment if you want it to move (probably better not to, looks weird)
        // transition: transform 0.3s;
        // will-change: transform;
        width: 16px;
    }
}

.menu-link.active .arrow:before {
  // The 'flip' state, just on hover for ease atm
  transform: translate3d(-50%, -25%, 0px) rotate(-45deg);
}


// Subnav

.menu-trigger {
  display: none;
}

@media screen and (max-width: 800px) {
  .submenu ul li {
    text-align: left;
    display: block;
  }

  .subnav a {
    color: $white;
  }

  .subnav menu a {
    @include padding(.5rem 1rem);
    &:focus, &:hover {
      background-color: $white;
      color: $black;
    }
  }

  .submenu ul {
    display: none;
    padding-bottom: 1.5rem;
  }

  .menu-trigger {
    display: block;
    @include padding(1rem .5rem);
    text-align: right;
  }

  .menu-trigger span {
    margin-left: .5rem;
  }

  .menu-trigger .arrow {
    float:right;
    position: relative;
    top: 1rem;
    right: 0;
    transform: translate3d(-50%,-50%,0px);
  }

  .menu-trigger .arrow {
    cursor: pointer;
    height: 24px;
    width: 24px;

    &:before {
      border-top: 3px solid $white;
      border-right: 3px solid $white;
      box-sizing: border-box;
      content: '';
      height: 16px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -75%, 0px) rotate(135deg);
          // Uncomment if you want it to move (probably better not to, looks weird)
          // transition: transform 0.3s;
          // will-change: transform;
      width: 16px;
    }
  }
  .menu-trigger.active .arrow:before {
    // The 'flip' state, just on hover for ease atm
    transform: translate3d(-50%, -25%, 0px) rotate(-45deg);
  }
}

// .topic-nav-inner {
//   overflow-x: scroll;
//   -webkit-overflow-scrolling: touch;
// }

.menu--topic {
  // display: -webkit-flex;
  // display: flex;
  //
  // -webkit-align-items: center;
  // align-items: center;

  // -webkit-justify-content: center;
  // justify-content: center;

  @include padding(.75rem 0 1rem);
  // width: 75rem;
  text-align: center;
}

.menu--item {
  display: inline-flex;
  margin: 0;
  line-height: 1;
  align-items: center;
  vertical-align: middle;
  a {
    color: $dolphin;
    &:focus,
    &:hover,
    &.is-active {
      color: $black;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.menu--topic li:first-child {
  @include padding(0 1.25rem 0 0);
}

.menu--topic li + li {
  border-left: 1px solid $black;
  @include padding(0 1.125rem);
  @include media($odd) {
    border-left: none;
  }
  @include media($small) {
    border-left: none;
  }
}

.menu--topic li {
  @include media($odd) {
    width: 100%
    &:first-child {
      @include padding(0 1.25rem 0);
    }
  }
  @include media($small) {
    width: 100%
    &:first-child {
      @include padding(0 1.25rem 0);
    }
  }
}

// .menu--topic li:last-child {
//   @include padding(0 0 0 1.25rem);
// }

// Custom Select Menu

.blog_menu {
  margin: 2.25rem 0;
}

.select_menu {
  width: 100%;
  margin: auto;
  @include rgba-background($white, 1);
}

.select_label {
  cursor: pointer;
  display: block;
  // font-variant: small-caps;
  text-transform: normal;
}

.select_label::after {
  display: block;
  float: right;
  border-top: 3px solid $black;
  border-right: 3px solid $black;
  box-sizing: border-box;
  content: '';
  height: 16px;
  width: 16px;
  right: 0;
  position: relative;
  top: 18px;
  transform: translate3d(-50%, -75%, 0px) rotate(135deg);
}

.selected .select_label::after {
  transform: translate3d(-50%, -25%, 0px) rotate(-45deg);
}

.selected .select_label {
  color: $black;
}

.select_label {
  @include padding(.5rem 1rem);
}

.select_list li {
  @include padding(0 1rem .5rem);
  &:last-child {
    @include padding(0 1rem 1rem);
  }
}

.select_list li,
.select_menu label {
  margin: 0;
}

.select_list {
  clear: both;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

#touch {
  position: absolute;
  opacity: 0; height: 0px;
}

#touch:checked + .select_list {
  height: 100%;
}
