// Ported inline CSS from old legacy content.

// .greybox {
//   $side: 1px;
//   @include border($side $side $side $side, $dark-gray);
//   @include rgba-background($smoke, 1);
// }

.textbox-blue {
  $side: 1px;
  @include border($side $side $side $side, $denim);
  @include rgba-background($polar, 1);
}

.textbox-orange {
  $side: 1px;
  @include border($side $side $side $side, $tangerine);
  @include rgba-background($tangerine, .16);
}

.note-champagne {
  @include rgba-background($tangerine, .16);
}

.box_at-a-glance,
.box_blue,
.box_vignette {
  @include rgba-background($bahama, 1);
}

.textbox,
.toc {
  display: block;
  max-width: 100%;
}

.note,
.note-full,
.box_intro,
.box_vignette,
.textbox {
  margin: 1.5rem auto 2.5rem;
  @include padding(2rem 1.75rem 1.25rem);
  &:nth-of-type(1) {
    margin: 0 auto 2.5rem;
  }
}

// .textbox {
//   li {
//     list-style-type: square;
//   }
// }

.box_vignette {
  float: left;
  width: 100%;
}

.toc {
  margin: 0 0 1.75rem;
}

.textbox-33 {
  max-width: 33%;
}

.note-half,
.textbox-50 {
  max-width: 50%;
}

.textbox-75 {
  max-width: 75%;
}

.textbox-90 {
  max-width: 90%;
}

.note-half,
.textbox-50,
.textbox-220 {
  float: right;
  margin-left: 1.25rem;
}

.textbox-220 {
  max-width: 40%;
  margin-left: 1.25rem;
}

.note-half,
.textbox,
.textbox-33,
.texxbox-50,
.textbox-75,
.textbox-90,
.textbox-220 {
  @include media($narrow) {
    margin: 1.25rem 1.25rem;
  }
  @include media($odd) {
    float: none;
    margin: 1.25rem auto;
    max-width: 100%;
  }
  @include media($small) {
    float: none;
    margin: 1.25rem auto;
    max-width: 100%;
  }
}

.textbox a {
	word-wrap: break-word;
}

.textbox > ul,
.toc > ul {
  padding-left: 1.5rem;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  li {
    list-style-type: none;
    position: relative;
    &:before {
      content: '\25AA';
      display: inline-block;
      position: absolute;
      left: -1.5rem;
    }
  }
}

.folded-corner {
  overflow: auto;
  position: relative;
}

.folded-corner:before {
  border-width: 0 40px 40px 0;
  border-style: solid;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3),-1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3),-1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3),-1px 1px 1px rgba(0,0,0,0.2);
}

.folded-corner:before {
  border-color: $white $white rgba($tangerine, .10) rgba($tangerine, .10);
}

.toc > ul {
  margin: 0 0 0 0;
  li:before {
    color: $cardinal;
  }
}

.anchor_menu {
  @include padding(2rem 2.5rem);
  margin: 0 0 2.5rem;
}

#backtotop {
  @include padding(2px);
  background: $white url('/themes/nia/images/icon_up-menu-arrow.png') no-repeat center center;
  background: $white url('/themes/nia/images/icon_up-menu-arrow.svg') no-repeat center center;
  border-radius: 50%;
  border: 1px solid $white;
  height: 80px;
  width: 80px;
}

.special_jumpnav > li {
  list-style-type: none;
}

// Clinical Trials hacks

.field_group,
.field_lead {
  margin: 1.25rem 0 0;
}

#ct-field-brief-description p,
#ct-field-exclusion-criteria p,
#ct-field-description-lead-sponsor p,
#ct-page-gov-info p,
// #ct-field-inclusion-criteria ul,
.field_list {
  margin: 0 0 2rem;
}

table#ct-locations,
table#ct-study-contact {
  margin: 0 0 3rem;
}

// Bing Search hacks

.bing-custom-search-engine-pager {
  text-align: center;
}
.bing-custom-search-engine-pager ul {
  display: inline-table;
}
.bing-custom-search-engine-pager li {
  display: inline;
  padding: 10px 5px;
}

.bing-results-header,
.bing-result-wrapper  {
  margin: 1.75rem 0 2rem;
}

.bing-result-wrapper + .bing-result-wrapper {
  border-top: 1px dotted #CCC;
  padding-top: 1.5rem;
}

.path-site-search mark {
  background: #FFF !important;
}

// Drupal Admin hacks

.block__title {
	margin-bottom: 0;
}

.admin-tasks {
	border-bottom: 1px solid grey;
	margin-top: 10px;
	padding-bottom: 1px;
}

.admin-tasks li {
	float: left;
}

.admin-tasks li a {
	background: #ccc;
	padding: 2px 10px;
	margin-right: 5px;
}

.login-form {
	border: none;
	padding: 0 0 2rem;
}

.user-login-form {
	@include span-columns(6);
	@include shift(3);
}

.js-form-item {
	margin: 0 0 1.25rem;
}

.js-form-item input {
	margin-bottom: 0;
	.form-text {
		width: 100%;
	}
}

.ui-datepicker-calendar {
  $side: 1px;
  @include rgba-background($white, 1);
  @include border($side $side $side $side, #95A5A6);
  @include padding(.5rem);
}

.js .paragraph-type-title {
  @include font-size(22px);
  @include responsive-font(3vw, 20px, 22px);
}

.views-exposed-form {
  margin: 0 0 2.5rem;
}

.clinical-trials-featured p,
.path-alzheimers p {
  &:empty {
    display: none !important;
    margin: 0 !important;
  }
}

*, div, p {
  &:blank,
  &:empty {
    display: none !important;
    margin: 0 !important;
  }
}

.element-invisible {
  display: none !important;
}
