
.pagination {
  $base-border-color: $dark-gray !default;
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  @include padding(0 .5rem);
  @include font-size(20px);
  @include responsive-font(3vw, 18px, 20px);
  margin: 3rem auto;
  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      list-style: none;
      &.page-prev,
      &.page-next {
        margin-right: .3rem;
      }
    }

    // ul li {
    //   display: none;
    //
    //   &:nth-child(1),
    //   &:nth-child(2),
    //   &:nth-child(3) {
    //     display: inline;
    //   }

      @include media($large-screen) {
        display: inline;
      }
    }

  li a {
    background: $pagination-background;
    border-radius: $base-border-radius;
    border: $pagination-border;
    color: $pagination-color;
    outline: none;
    padding: ($base-spacing / 4) ($gutter / 2);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      background: $pagination-hover-background;
      color: $action-color;
    }

    &:active {
      background: $pagination-background;
    }
  }
}

// Book Pagination

.book-nav--wrapper {
  margin: 2.25rem auto;
  $side: 1px;
  @include border-dotted($side 0 $side 0, $medium-gray);
  @include padding(.75rem 0 .75rem);
}

.book-nav,
.cols-2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease-in-out;
  width: 100%;
  @include media($narrow) {
    flex-direction: column;
  }
  @include media($odd) {
    flex-direction: column;
  }
  @include media($small) {
    flex-direction: column;
  }
}

.book-nav,
.chapter-link {
  display: flex;
  align-items: center;
}

.book-nav--item,
.col-1,
.col-2,
.views-col {
  flex-grow: 1;
}

.book-nav--item {
  width: 50%;
  @include media($narrow) {
    width: 100%;
  }
  @include media($odd) {
    width: 100%;
  }
  @include media($small) {
    width: 100%;
  }
}

.chapter-link.prev {
  @include padding(0 .5rem 0 0);
  float: left;
  text-align: left;
  .fa-angle-left:before {
    margin-right: 1.25rem;
  }
}

.chapter-link.next {
  @include padding(0 0 0 .5rem);;
  float: right;
  text-align: right;
  .fa-angle-right:before {
    margin-left: 1.25rem;
  }
}
