.promo_cta:first-child .promo-1-up {
  margin: 0 0 2.5rem;
}

.page-node-type-special-resources-pages .promo-1-up {
    margin: 0 0 5rem;
}

.bottom_promo {
	$side: 8px;
	@include border(0 0 $side 0, $white);
}

.promo-field-wrapper {
  display: block;
  width: 100%;
  text-align: center;
}

.block_callout,
.promo_adear .promo-content,
.promo_cta .promo-content {
	display: block;
	margin: auto;
	width:  57.5rem;
	max-width: 98%;
	.content, .content a {
		color: $white
	}
}

.block_callout,
.promo_blue .promo-content {
	@include alpha-attribute('background-color', rgba(#20558A, .85), black);
  @include padding(4.75rem 2.5rem 4.25rem);
}

.promo_green .promo-content,
.promo_adear .promo-content {
  @include alpha-attribute('background-color', rgba(#20665C, .85), black);
  @include padding(4.75rem 2.5rem 4.25rem);
}

.promo_adear .img-svg {
  width: 43.13rem;
  max-width: 100%;
  margin: auto;
}

.promo_adear .img-svg:after {
  content: url(../images/icon_star.png);
  content: url(../images/icon_star.svg);
  display: block;
  height: 40px;
  width: 42px;
  margin: 1.75rem auto;
}

.promo_infocenter {
  @include padding(1.25rem 1.5rem);

  display: flex;
  flex-direction: row;
}

.icon_bubble {
  display: block;
  margin: 0 .75rem 0 0;
  svg {
    width: 3rem;
  }
}
