// SideBar Menu

@media screen and (max-width: 50.24em) {
  // .topic-nav-inner,
  .sidenav-wraper {
    background-color: $polar;
    box-sizing: content-box;
    display: block;
    margin: 0 0 1.25rem;
  }

  // .topicnav ul,
  .sidenav ul {
    @include padding(1rem 1rem);
  }

  .sidenav--right .block-title {
    display: none;
  }
}

a.menu-link {
  background-color: $denim;
  color: $white;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  @include font-size(25px);
  @include padding(.5rem 1rem);
  max-width: 100%;
}

// .topicnav[role=navigation],
.sidenav[role=navigation] {
  clear: both;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

// .js .topicnav[role=navigation],
.js .sidenav[role=navigation] {
  overflow: hidden;
	max-height: 0;
  position: relative;
  z-index: 1;
}

// .topicnav[role=navigation].active,
.sidenav[role=navigation].active {
  max-height: 100vh;
}

// .topicnav[role=navigation] ul,
.sidenav[role=navigation] ul {
	margin: 0;
}

// .topicnav[role=navigation] li a,
.sidenav[role=navigation] li a {
  color: $dolphin;
	display: block;
	padding: .5rem 0;
  &:focus,
  &:hover,
  &.is-active {
    color: $black;
    text-decoration: underline;
  }
}

@media screen and (min-width: 50.25em) {
  .sidenav-wraper {
    margin: 0 0 1.25rem;
  }

  // .topicnav[role=navigation] li,
  .sidenav[role=navigation] li {
    margin: 0 0 2rem;
  }

  // .topicnav[role=navigation] li a,
  .sidenav[role=navigation] li a {
    border: 0;
    padding: 0 0 0 0;
  }

  a.menu-link {
    display: none;
  }

  // .js .topicnav[role=navigation],
	.js .sidenav[role=navigation] {
    max-height: none;
	}

	.landing_labs-at-nia .sidenav[role=navigation] ul {
    margin: 4.75rem 0 0 0;
    border: 0;
	}

	.sidenav[role=navigation] li {
		display: inline-block;
		margin: 0 0.25em;
    width: 100%;
	}

	.sidenav[role=navigation] li a {
				border: 0;
        padding: 1rem .25em .5rem 0;
	}
}
