// flexslider
.slidesjs-container {
  width: 100%;
  max-height: 553px;
  margin: auto;
}

.slidesjs-slide {
  display: flex;
  flex-direction: row;
}

.slide_element {
  flex-grow: 1;
}

.slide_image {
	left: 0;
	right: 0;
  @media (max-width: 60em) {
    width: 100%;
  }
}

.slidesjs-slide:after {
  content:"";
  display: table;
  clear: both;
}

.slide_text {
  width: 100%;
}

.hero-teaser {
  margin: auto;

  @include padding(2.5rem 1.25rem 0 0);

  @include media($full) {
    @include padding(2.5rem 1.25rem 0 0);
  }
  @include media($medium) {
    @include padding(2.5rem 1.25rem 0);
  }
  @include media($narrow) {
    @include padding(1.5rem 1.25rem 0);
  }
  @include media($odd) {
    @include padding(1.5rem 1.25rem 0);
  }
  @include media($small) {
    @include padding(1.5rem 1.25rem 0);
  }
}

.hero-teaser h1:before {
  background-color: $tangerine;
  content: "";
  display: block;
  height: 10px;
  width: 100px;
  margin: 0 0 1.25rem;
}

@media screen and (min-width: 961px) {
  .slide_text {
    width: 42.933333%;
  }
  .slide_image {
    width: 57.066667%;
  }
}

@media screen and (max-width: 960px) {
  .slidesjs-slide {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .slide_text, .slide_image {
    display: block;
    width: 100%;
  }
}

// Hacks

.flexslider {
  background: $denim;
  border: none !important;
  border-radius: 0 0 0 0;
  box-sizing: content-box;
  margin: 0 0 0;
}

.flex-control-nav {
  height: 1.75rem;
  width: auto;
  position: absolute;
  top: 85%;
  padding-left: .75rem;
  text-align: center;
  z-index: 5;

  @include media($medium) {
    display: none ;
  }

  @include media($narrow) {
		display: none ;
	}
	@include media($odd) {
		display: none;
	}
	@include media($small) {
		display: none;
	}
}

.slides a {
  color: $white;
}

.flex-control-paging li a {
    width: 1.25rem;
    height: 1.25rem;
    background: $white;
    &:hover, &:focus {
      background: darken($smoke, 6%);
    }
    &.flex-active {
      background: $tangerine;
    }
}

.flex-nav-next {
  right: -100%;
}

.flex-direction-nav a {
  width: 60px;
  height: 80px;
  margin: -60px 0 0;
}

.flex-direction-nav a:before {
  display: none !important;
    // font-family: flexslider-icon;
    // font-size: 60px;
    // display: inline-block;
    // content: '\f001';
    // color: #dadadb;
}

.flex-direction-nav a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0 !important;
  position: absolute;
  transition: .24x;
  top: 50%;
  box-shadow: 1px -1px 0 1px $white inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  &:hover {
    box-shadow: 2px -2px 0 2px $tangerine inset;
    -webkit-box-shadow: 4px -4px $tangerine inset;
  }
}

.flex-next {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  margin: -67px 0 0 -67px;
  right: 30%;
}

.flex-prev {
  margin: -67px 0 0 -67px;
  left: 30%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
