// $column: 5em !default;
// $gutter: .313em !default;
$grid-columns: 12 !default;
$max-width: 1080px !default;

$global: new-breakpoint(min-width 100vw 12);
$large: new-breakpoint(min-width 80.063em 12);
$full: new-breakpoint(max-width 80em 12);
$medium: new-breakpoint(max-width 64em 10);
$narrow: new-breakpoint(max-width 50em 8);
$odd: new-breakpoint(max-width 37.5em 6);
$small: new-breakpoint(max-width 25em 4);
