#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg,25%);
  }
}

@mixin btn-off($bg_off, $text-color) {
  color: $text-color;
  background-color: $bg_off;
}

@mixin btn-hover($bg_hover, $text-color) {
  transition: all 0.3s ease;
  color: $text-color;
  background-color:($bg_hover);
}

@mixin btn-focus($bg_on, $text-color) {
  background-color: $bg_on;
  color: $text-color;
}

@mixin ghost-button($font-color, $border-size, $border-color, $padding, $transition-speed, $hover-color) {
  display: inline-block;
  text-transform: capitalize;
  color: $font-color;
  border: $border-size solid $border-color;
  padding: $padding;
  -webkit-transition: color $transition-speed, background $transition-speed;
  transition: color $transition-speed, background $transition-speed;
  & {
    font-weight: bold;
    text-decoration: none !important;
    text-align: center;
  }
  &:hover,
  &:active,
  &.active {
    background:$border-color;
    color:$hover-color;
  }
}

.btn,
.tags a,
.topics a {
  @include padding(.725rem 1.25rem);
  @include border-top-radius(8px);
  @include border-bottom-radius(8px);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  vertical-align: top;
}

.btn-uppercase {
  @include font-weight(semi-bold);
  @extend %letter-spacing;
  text-transform: uppercase;
}
.tags a,
.topics a,
.btn-bahama {
  @include button-bg($bahama);
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}

.tags a,
.topics a {
  @include padding(.5rem .75rem);
  @include font-size(24px);
}

.special_jumpnav > li > a {
  display: block;
  @include padding(.5rem .75rem);
  @include font-size(20px);
  width: 100%;
}


.btn-flat {
  @include border-top-radius(8px);
  @include border-bottom-radius(8px);
  line-height: 100%;
  text-transform: capitalize;
}

.btn-dolphin {
  $side: 1px;
  @include border($side $side $side $side, $white);
  @include border-top-radius(8px);
  @include border-bottom-radius(8px);
  @include button-bg($dolphin);
  @include font-size(22px);
}

.btn-dolphin-flat {
  @include btn-off($dolphin, $white);
  &:hover,
  &:focus {
    @include btn-hover($tangerine, $black);
  }
}

.special_jumpnav > li a {
  @include rgba-background($teal, 1);
  color: $white;
  &:hover,
  &:focus{
    color: $black;
    @include rgba-background($tangerine, 1);
  }
}

.icon-search {
  background: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
}

.icon-search svg {
  fill: $bahama;
    &:hover {
    fill: darken($bahama ,8%);
    transition: all 0.3s ease;
  }
    &:focus {
    fill: darken($bahama ,25%);
  }
}

.form-search-topics .icon-search svg {
  fill: #aeb0b5;
    &:hover {
    fill: darken(#aeb0b5,8%);
    transition: all 0.3s ease;
  }
    &:focus {
    fill: darken(#aeb0b5,25%);
  }
}

a.card picture {
  background: #000;
  display: block;
  line-height: 0;
}

a.card {
  &:hover,
  &:focus {
    background: darken($white, 5%);
    transition: all 0.3s ease;
  }

  &:hover img,
  &:focus img {
    opacity: 0.75;
    filter: alpha(opacity=65); /* For IE8 and earlier */
  }
}
