ul,
ol {
  padding-left: 1.5rem;
  margin-top: 0;
}

.layout-content li {
  margin: 0 0 .25rem;
  &:last-of-type {
    margin: 0 0 0;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

hr {
  border-top: 1px solid $dark-gray;
  margin: 1.25rem 0;
  width: 100%;
}

.admin-tasks,
.menu,
menu ul,
menu ol,
nav ul,
nav ol {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

nav li,
menu li,
.flexnav li,
.flexslider li,
.menu li,
.slides li {
  margin-bottom: 0;
}
