/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}

figure,
picture,
.profile-image,
.image-inline_left,
.image-inline_right  {
  box-sizing: border-box;
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  display: table;
}

figcaption {
  @include padding(.5rem 0);
  display: table-caption;
  caption-side: bottom;
}

.tile_menu picture {
  display: block;
  $side: 1px;
  @include border($side $side $side $side, $dark-gray);
  @include rgba-background($smoke, 1);
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.tile_menu picture {
  @include media($large) {
    // height: 10rem;
    // width: 22.88rem;
    height: auto;
    width: 21.25rem;
  }
  @include media($full) {
    height: auto;
    // width: 22.88rem;
    width: 21.25rem;
    max-width: 100%;
  }
  @include media($medium) {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  @include media($narrow) {
    height: auto;
    width: 100%;
	}
	@include media($odd) {
    height: auto;
    width: 100%;
	}
	@include media($small) {
    height: auto;
    width: 100%;
  }
}

.card_thumb,
.teaser-thumbnail {
  display: block;
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.node-hero > img {
  $side: 8px;
  @include border($side 0 0 0, $white);
  margin: auto;
}

.context-news-events .node-hero > img {
  width: 1080px;
  width: 67.5rem;
  max-width: 100%;
}

.img_profile_wrapper {
  height: 12.5rem;
  width: 12.5rem;
}

.logo_blog_container {
  max-width: 17.5rem;
  margin: auto;
}

.teaser-thumbnail {
  margin: 0 0 .75rem 0;
}

.box_vignette img {
  margin: 0 1.25rem .75rem 0;
}

.profile-image img,
.box_vignette img {
  @include circle(100%, $white);
}

.profile-image,
.box_vignette img {
    @include padding(1px);
    max-width:  11.25rem;
}

img.align-right {
  @include media($large) {
      max-width: 64%;
    }
  @include media($full) {
    max-width: 64%;
  }
}

.image-inline_25,
.image-inline_left_25,
.image-inline_right_25 {
  width: 25%;
}

.image-inline_33,
.image-inline_left_33,
.image-inline_right_33 {
  width: 33%;
}

.image-inline_50,
.image-inline_left_50,
.image-inline_right_50 {
  width: 50%;
}

.image-inline_75,
.image-inline_left_75,
.image-inline_right_75 {
  width: 75%;
}

.image-inline_left_25,
.image-inline_left_33,
.image-inline_left_50,
.image-inline_left_75,
.image-inline_left {
  float: left;
}

.image-inline_right_25,
.image-inline_right_33,
.image-inline_right_50,
.image-inline_right_75,
.image-inline_right {
  float: right;
}

.image-inline_left,
.image-inline_right,
.image-inline_left_25,
.image-inline_left_33,
.image-inline_left_50,
.image-inline_left_75,
.image-inline_right_25,
.image-inline_right_33,
.image-inline_right_50,
.image-inline_right_75,
img.align-right,
img.align-left {
  @include padding(0 1.25rem);
  margin: 1.25rem 0;
}

.image-inline_25,
.image-inline_33,
.image-inline_50,
.image-inline_75,
.image-inline_left_25,
.image-inline_left_33,
.image-inline_left_50,
.image-inline_left_75,
.image-inline_right_25,
.image-inline_right_33,
.image-inline_right_50,
.image-inline_right_75 {
  @include media($odd) {
    width: 100%;
  }
  @include media($small) {
    width: 100%;
  }
}

// .col-4-right img
.topical_image.col-4-right img {
  @include media($large) {
    float: right;
  }
  @include media($medium) {
    float: right;
  }

  @include media($odd) {
    float: none;
    margin: 1.25rem auto;
  }
  @include media($small) {
    float: none;
    margin: 1.25rem auto;
  }
}

// Drupal Hacks

.filter-image-invalid {
  display: block;
  float: right;
  height: auto;
  width: 25%;
}

iframe {
  display: block;
  margin: 2.5rem auto;
  max-width: 100%;
}

// YouTube Hacks

.youtube_video {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.video-container {
	position:relative;
  margin: 0 0 3.5rem;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
