table {
  border: none;
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: auto;
  width: 100%;
}

th {
  // border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  // border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  $side: 1px;
  @include border($side $side $side $side, $white);
  @include padding(.5rem);
  vertical-align: top;
}

.table-wrapper {
  display: block;
  float: left;
  overflow-x: auto;
  max-width: 100%;
}

// td a, th a {
//   word-break: break-word;
// }

// table blockquote {
//   color: $base-font-color;
//   font-style: normal;
//   margin: 0;
//   font-size: $base-font-size;
//   p {
//     margin: 0 0;
//   }
//   &:before, p:after {
//     display: none;
//   }

//   -webkit-margin-before: 0 !important;
//   -webkit-margin-after: 0 !important;
//   -webkit-margin-start: 0 !important;
//   -webkit-margin-end: 0 !important;
//   margin-before: 0 !important;
//   margin-after: 0 !important;
//   margin-start: 0 !important;
//   margin-end: 0 !important;
// }
