body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%letter-spacing {
  letter-spacing: 0.0625em;
}

h1,
.social-label {
  font-family: $heading-font-family;
  // font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 .5rem;
  &:first-child {
    margin-top: 0;
  }
}

.node-title {
  &:first-child{
    margin-top: .75rem;
  }
}

.blog-title,
.box_header,
.dropcap,
.feature-title,
.hero-title,
.landing-title,
.landing-banner h1,
.page-node-type-article .page-title,
.page-node-type-news .page-title,
.page-node-type-spanish-articles .page-title,
.page-title,
#page-title,
.intro h1 {
  font-family: $hero-font-family;
  letter-spacing: 1px;
}

.blog_topics_menu h1 {
  letter-spacing: 1px;
}

aside h1, h2, h3, h4, h5, h6,
.blog_topics_menu h1,
h1.teaser-title,
.intro-lead,
.lab-title,
.lead,
.postdate,
.quick-links-AtoZ,
.subheader {
  font-family: $heading-font-family;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  cursor: pointer;
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &.active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

a {
  color: $bahama;
  // color: $denim;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

// Standard/Default Header Treatments

.main-content {
  @include font-size(22px);
  @include responsive-font(3vw, 18px, 22px);
}

h1 {
  @include font-size(38px);
  @include responsive-font(3vw, 34px, 38px);
}

h2 {
  // @include font-size(30px);
  // @include responsive-font(3vw, 26px, 30px);
  @include font-size(28px);
  @include responsive-font(3vw, 24px, 28px);
}

h3,
table caption,
.promo_adear,
.promo_cta {
  // @include font-size(28px);
  // @include responsive-font(3vw, 24px, 28px);
  @include font-size(26px);
  @include responsive-font(3vw, 22px, 26px);
}

h4 {
  // @include font-size(26px);
  // @include responsive-font(3vw, 22px, 26px);
  @include font-size(24px);
  @include responsive-font(3vw, 20px, 24px);
}

h5 {
  // @include font-size(24px);
  // @include responsive-font(3vw, 20px, 24px);
  @include font-size(22px);
  @include responsive-font(3vw, 18px, 22px);
}

// h6 {
//   @include font-size(22px);
//   @include responsive-font(3vw, 18px, 22px);
// }

// Specific Type Treatments

.dropcap {
  @include font-size(108px);
  @include responsive-font(3vw, 104px, 108px);
}

aside h1 {
  // @include font-size(34px);
  // @include responsive-font(3vw, 30px, 34px);
  @include font-size(30px);
  @include responsive-font(3vw, 28px, 30px);
}

aside h2 {
  // @include font-size(30px);
  // @include responsive-font(3vw, 28px, 30px);
  @include font-size(26px);
  @include responsive-font(3vw, 24px, 26px);
}

aside h3 {
  // @include font-size(26px);
  // @include responsive-font(3vw, 24px, 26px);
  @include font-size(24px);
  @include responsive-font(3vw, 20px, 24px);
}

.landing-title,
.landing-banner h1 {
  // @include font-size(47px);
  // @include responsive-font(3vw, 41px, 47px);
  // @include font-size(42px);
  // @include responsive-font(3vw, 36px, 42px);
  // @include font-size(32px);
  // @include responsive-font(3vw, 28px, 32px);
  @include font-size(40px);
  @include responsive-font(3vw, 36px, 40px);
}

.hero-title,
.intro h1,
.path-alzheimers .landing-banner h1 {
  // @include font-size(36px);
  // @include responsive-font(3vw, 30px, 36px);
  // @include font-size(32px);
  // @include responsive-font(3vw, 28px, 32px);
  @include font-size(34px);
  @include responsive-font(3vw, 30px, 34px);
}

.callout-title,
.page-title,
#page-title {
  // @include font-size(42px);
  // @include responsive-font(3vw, 36px, 42px);
  @include font-size(32px);
  @include responsive-font(3vw, 28px, 32px);
}

.page-node-type-article .page-title,
.page-node-type-news .page-title,
.page-node-type-spanish-articles .page-title {
  // @include font-size(40px);
  // @include responsive-font(3vw, 32px, 40px);
  @include font-size(32px);
  @include responsive-font(3vw, 28px, 32px);
}

// .path-node .feature-title,
// .path-taxonomy .feature-title {
//   @include font-size(40px);
//   @include responsive-font(3vw, 32px, 40px);
//   @include font-size(28px);
//   @include responsive-font(3vw, 24px, 28px);
// }

blockquote,
.box_header,
.intro-lead,
.link-arrow-right,
.path-node .feature-title,
.path-taxonomy .feature-title,
.quick-links-AtoZ a {
  // @include font-size(30px);
  // @include responsive-font(3vw, 24px, 30px);
  @include font-size(26px);
  @include responsive-font(3vw, 22px, 26px);
}

.blog-title,
.feature-title
table caption {
  // @include font-size(32px);
  // @include responsive-font(3vw, 26px, 32px);
  @include font-size(24px);
  @include responsive-font(3vw, 20px, 24px);
}

.intro,
.intro-link,
.landing-banner .intro-text,
.special_hdr,
.special_intro {
  // @include font-size(28px);
  // @include responsive-font(3vw, 24px, 28px);
  @include font-size(24px);
  @include responsive-font(3vw, 20px, 24px);
}

.blog_topics_menu h1,
.feature-summary,
.feature_news .teaser-title,
.lab-title,
.sidebar-title,
.sidenav li.lead,
.teaser-title,
.landing-banner .form_description {
  // @include font-size(26px);
  // @include responsive-font(3vw, 24px, 26px);
  @include font-size(24px);
  @include responsive-font(3vw, 20px, 24px);
  // @include font-size(22px);
  // @include responsive-font(3vw, 18px, 22px);
}

.clinical-trials-search-form > .callout-link,
.hero-copy,
.news-title,
.path-node .feature-summary,
.path-taxonomy .feature-summary,
.section-title {
  // @include font-size(25px);
  // @include responsive-font(3vw, 24px, 25px);
  @include font-size(22px);
  @include responsive-font(3vw, 18px, 22px);
}

.blog-author,
.btn-submit,
.form-search,
.postdate,
.promo_infocenter,
.subheader,
.topical_term {
  // @include font-size(24px);
  // @include responsive-font(3vw, 20px, 24px);
  @include font-size(20px);
  @include responsive-font(3vw, 16px, 20px);
}

.box_intro p,
.box_vignette p,
.date,
.footer .lead,
.menu--item,
.news-type,
.search-title,
.sidenav,
.select_list li,
.teaser-summary,
.title-small,
.teaser time {
  // @include font-size(22px);
  // @include responsive-font(3vw, 20px, 22px);
  @include font-size(20px);
  @include responsive-font(3vw, 16px, 20px);
}

.book-nav,
.card_copy,
.footer,
.footer-menu,
.search-summary,
.teaser-summary,
table {
  @include font-size(20px);
  @include responsive-font(3vw, 18px, 20px);
}

.breadcrumb,
.clinical-trials-search-form,
.description,
.footer .form_description,
.postdate-small,
.social-label,
.text-field,
figcaption,
table.small-font {
  @include font-size(18px);
  @include responsive-font(3vw, 16px, 18px);
}

.text-smal > .subheader {
  @include font-size(16px);
  @include responsive-font(3vw, 12px, 16px);
 }

// table.small-font {
//   @include font-size(12px);
//   @include responsive-font(3vw, 12px, 12px);
// }

.chapter-link .fa:before {
  @include font-size(40px);
}

.tableHeading th {
  text-align: center;
}

.intro,
.landing-banner .form_description,
.landing-banner .intro-text,
.postdate,
.social-label,
.title-small {
  @include font-weight(normal);
}

.blog-title,
.news-title,
.teaser-title,
.feature-title {
  @include font-weight(medium);
}

#page-title,
.hero-title,
.intro h1,
.intro-lead,
.landing-title,
.landing-banner h1,
.lab-title,
.lead,
.page-title,
.promo_items .teaser-title,
.quick-links-AtoZ a,
.section-title,
.special_hdr,
.tableHeading,
label .select_label,
table blockquote {
  @include font-weight(semi-bold);
}

.blog_topics_menu h1,
.sidebar-title {
  @include font-weight(bold);
}

.author-title,
.news-type {
  font-style: italic;
}

.blog_topics_menu h1,
.main-menu > li,
.sidebar .lead,
.sidebar .menu,
.sidebar-title,
.sidenav {
  text-transform: uppercase;
}

.main-menu > li > ul > li {
  text-transform: capitalize;
}

// Heading

.hero-title:before,
.landing-title:before,
.landing-banner h1:before,
.special_intro:before {
  background-color: $tangerine;
  content: "";
  display: block;
  height: 10px;
  width: 100px;
}

.ct_header .hero-title,
.hero-title:before,
.landing-title:before,
.landing-banner h1:before {
  margin: 0 0 1.5rem;
}

.block_sidebar h2 {
    margin: 0 0 1.75rem;
}

.special_intro:before {
  margin: 0 0 1.25rem;
}

.footer-menu,
.landing-title,
.landing-banner h1 {
  line-height: 1.25;
  margin: 0 0 0;
}

.taxonomy-label {
  @include padding(.5rem 1em);
  background: $denim;
  float: left;
}

.section-title {
  text-transform: uppercase;
  @extend %letter-spacing;
}

.search-title {
  margin: 0 0 0;
}

.subheader a {
  display: block;
  float: left;
  width: 100%;
}

.teaser-title,
.title-small {
  margin: 0 0 .5rem;
}

.news_item time {
  margin: 0 0 1rem;
}

.promo_items h3 {
  margin: 3rem 0 1.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.context-news-all .sub-content > h2 {
    margin: 0 0 1.75rem;
}

h1,
.page-title,
#page-title {
  color: $bahama;
}

h2,
.subheader {
  color: $cardinal;
}

h3,
table caption {
  color: $venice;
}

.box_blue,
.box_vignette,
.box_vignette h1,
.callout-title,
.hero-title,
.hero-copy,
.hero_section,
.landing-title,
.landing-banner h1,
.promo_adear,
.promo_cta,
.section-title {
  color: $white;
}

.clinical-trials-search-form a,
.promo_adear a,
.promo_cta a {
  color: $white;
  &:hover {
    text-decoration: underline;
  }
}

.intro h1,
.intro-link,
.blog-title,
.dropcap,
.feature-title,
.news-title,
.page-node-type-article .page-title,
.page-node-type-news .page-title,
.page-node-type-spanish-articles .page-title {
  color: $bahama;
  // color: $denim;
}

.intro-link,
.blog-title a,
.feature-title a,
.news-title a,
.quick-links-AtoZ a,
.teaser-title a,
.title a {
  // color: $denim;
  color: $bahama;
  &:focus,
  &:hover {
    // color: darken($denim, 10%);
    color: darken($bahama, 10%);
  }
}

.teaser-link {
  &:focus .teaser-title,
  &:hover .teaser-title {
    color: darken($denim, 10%);
    text-decoration: underline;
  }
}

.date,
.intro,
.landing-banner .form_description,
.landing-banner .intro-text,
.news-type,
.postdate,
.special_intro,
time {
  color: $dolphin;
}

.news-type a,
.select_label {
  color: $dolphin;
  &:focus,
  &:hover {
    color: shade($dolphin, 50%);
  }
}

.subheader a {
  color: $cardinal;
  &:focus,
  &:hover {
    color: shade($cardinal, 20%);
  }
}

.blog_topics_menu h1,
.intro-lead,
.promo_items h3,
.promo_infocenter,
.sidebar-title,
.special_hdr {
  color: $black;
}

.subheader,
.subheader a,
.special_jumpnav {
  text-transform: uppercase;
}

.box_blue a,
.box_vignette a {
    color: $white;
    text-decoration: underline;
}

// Blockquote

blockquote {
  color: $dolphin;
  font-style: italic;
  max-width: 50rem;
  margin: 3.75rem;
  position: relative;
  &:before {
    display: block;
    color: $tangerine;
    content: "\201C";
    font-family: Georgia, "Times New Roman", Times, serif;
    @include font-size(200px);
    @include responsive-font(3vw, 200px, 200px);
    position: absolute;
    left: -80px;
    top: -90px;
  }
  p {
    margin-left: .5rem;
    line-height: 1.5;
    &:after {
      content: "\201D";
    }
  }
}

blockquote cite:before {
  content: "\2014 \2009";
}

// DropCap

.dropcap {
  display: inline-block;
  float: left;
  margin: 0 .5rem 0 0;
  position: relative;
  bottom: -.5rem;
}

#dropcap {
  initial-letter: 3;
  line-height: 1;
}

@media all and (max-width: 600px) {
  #dropcap {
    initial-letter: 2;
  }
}

// Social Links

.footer-inner,
.footer-inner a {
  color: $white;
}

.social-link,
.social-link:hover,
.social-link:focus {
  color: $white;
  text-align: center;
}

a.card {
  color: $base-font-color;
}

// Slideshow

#slides,
#slides a {
  color: $white;
}

.breadcrumb a {
  color: $dolphin;
  &:hover {
    color: darker($dolphin, 60%);
    text-decoration: underline;
  }
  line-height: 1;
}
