// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// New MeadiaQueries
$desktop: new-breakpoint(min-width 980px 12);
$landscape: new-breakpoint(max-width 979px 10);
$narrow: new-breakpoint(max-width 800px 8);
$mobile: new-breakpoint(max-width 500px 4);

// Typography

@include font-face("MerriweatherSans", "/fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf");
@include font-face("MerriweatherSans", "/fonts/Merriweather_Sans/MerriweatherSans-Bold.ttf");
@include font-face("MerriweatherSans", "/fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf");
@include font-face("MerriweatherSans", "/fonts/Merriweather_Sans/MerriweatherSans-Italic.ttf");
@include font-face("MerriweatherSans", "./fonts/Merriweather_Sans/MerriweatherSans-BoldItalic.ttf");

@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-Regular.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-Semibold.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-Bold.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-Italic.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-SemiboldItalic.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-BoldItalic.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-Light.ttf");
@include font-face("SourceSansPro", "/fonts/source-sans-pro/SourceSansPro-LightItalic.ttf");

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Source+Sans+Pro');

$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Source Sans Pro', $base-font-family;
$heading-intro-font-family: 'Source Sans Pro', $base-font-family;
$hero-font-family: 'Merriweather', sans-serif;

// Font Sizes
$em-base: 16px;
$base-font-size: 1em;
body {
  font-size: $base-font-size;
}

@mixin headings($h1: 2.25em, $decreaseBy: .25em) {
   @for $i from 1 through 6 {
      h#{$i} {
         font-size: ($h1+$decreaseBy) - $i * $decreaseBy;
      }
   }
}

@include headings(2.25em, .25em);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.35;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// HSB Color
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

// Colors
$concrete: #F2F2F2;
$dark-gray: #ACACAC;
$dolphin: #65646A;
$ghost: #B5B6BB;
$light-gray: #DDD;
$medium-gray: #999;
$mischka: #AEB0B5;
$regent: #74878A;
$silver: #CCCCCC;
$smoke: #ECEBEB;

$bahama: #20558A;
$beeswax: #FEEDC7;
$blue: #1565C0;
$cardinal: #CD2026;
$carrot: #C65102;
$denim: #1280C3;
$geyser: #D6E2E3;
$gold: #FFD700;
$ocean: #00A8D0;
$polar: #EBF5FA;
$sun: #FDC64B;
$tangerine: #FDB81E;
$teal: #298073;
$venice: #09597D;

$black: #000000;
$white: #FFFFFF;

// Font Colors
$base-font-color: #000;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Box Sizing

$content-box: content-box;
$border-box: border-box;
$initial: initial;
$inherit: inherit;

@mixin box-sizing($type) {
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	box-sizing:$type;
}

@mixin inline-block {
	display: -moz-inline-stack;	// ff 2
	display: inline-block;
	zoom: 1; *display: inline; _height: 15px; // ie 6-7
}

// RGBA Background
@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor;
  background-color: rgba($hexcolor, $opacity);
}

// Semi Transparent Background
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

// Border
@mixin border( $coordinates: 0 0 0 0, $colour: #CCC, $style: solid ) {
    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    @if not(unitless($top)) {
        border-top: $top $style $colour;
    }
    @if not(unitless($right)) {
        border-right: $right $style $colour;
    }
    @if not(unitless($bottom)) {
        border-bottom: $bottom $style $colour;
    }
    @if not(unitless($left)) {
        border-left: $left $style $colour;
    }
}

@mixin border-dotted( $coordinates: 0 0 0 0, $colour: #CCC, $style: dotted ) {
    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    @if not(unitless($top)) {
        border-top: $top $style $colour;
    }
    @if not(unitless($right)) {
        border-right: $right $style $colour;
    }
    @if not(unitless($bottom)) {
        border-bottom: $bottom $style $colour;
    }
    @if not(unitless($left)) {
        border-left: $left $style $colour;
    }
}

// Circle

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

// Fonts Size

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Fonts weights

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

// Responsive Typography

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


// Inline Flex

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

//  Flex Grids
/**
* @param $cols — Number of columns
* @param $margin — Margin with unit
**/
//

@mixin flexgrid($cols, $margin) {
  $width: (100% / $cols);
  $calc-margin: (($margin * $cols) - $margin) / $cols;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after {
    flex: auto;
    margin: 0 auto;
    content: "";
  }
  > * {
    width: calc( #{$width} - #{$calc-margin} );
    margin-left: ($margin - 0.001) / 2;
    margin-right: ($margin - 0.001) / 2;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-child(#{$cols}n) {
      margin-right: 0;
    }
    &:nth-child(#{$cols}n + 1) {
      margin-left: 0;
    }
  }
}

// Vertical Center

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin centerVert($width,$size){
  margin: calc(50vh - #{$size / 2}) auto;
  height: $size;
  line-height: $size;
  &.fallback {
    width: $width;
    margin-top: -$size / 2;
    position: absolute;
    top: 50%;
  }
}
