
.special_intro {
	$side: 1px;
	@include border(0 0 $side 0, $medium-gray);
	margin: 0 0 1.75rem;
}

.special_hero,
.newsheader {
	margin: 0 0 2.25rem;
}

.news_contact {
	margin: 0 0 1.75rem;
}

.special_content_body {
	@include padding(1.25rem 0 5rem);
}

.intro {
	margin: 0;
	@include padding(0);
}

.path-taxonomy .intro {
	@include padding(2.5rem 0 0);
}

.context-news-announcements,
.context-news-events,
.context-news-featured-research,
.context-news-press-releases {
	.intro {
	 @include padding(0);
 }
}

.feature_news_item + .feature_news_item {
	border-top: 1px dotted #CCC;
	padding-top: 1.75rem;
}

.feature_news_item {
	display: flex;
	flex-direction: row;
	margin: 0 0 1.75rem;

	.news-title {
		margin: 0 0 0;
	}
}

.feature_news_image {
	min-width: 120px;
	margin: 0 1rem 0 0;
}
.featured_funding {
  @include padding(3.25rem 0);
}

.clinical-trials-featured,
.clinical-trials-result,
.feature-blog {
  @include padding(2.25rem 0 0);
  margin: 0 0 2.25rem;
}

.clinical-trials-featured + .clinical-trials-featured,
.clinical-trials-result + .clinical-trials-result,
.feature-blog + .feature-blog {
  $side: 1px;
  @include border-dotted($side 0 0 0, $medium-gray);
}

.block_sidebar {
	display: block;
	margin: 0 0 3.5rem;
}

.media_container {
	margin: 0 0 7rem;
}

.promo_container {
  @include padding(1.25rem 0 2.5rem);
}

.promo_container + .promo_container {
  $side: 1px;
  @include border($side 0 0 0, $medium-gray);
  @include padding(2.5rem 0);
}

.bg_promo {
	@include padding(4.25rem 0);
}

.bottom_promo,
.bg_polar .quick-links,
.bg_smoke.feature,
.bg_tangerine.feature {
	.content-inner {
		@include padding(0 0 1.25rem);
		top: -1.75rem;
	}
}

.quick-links .cols-2 {
	margin: 0 0 1.25rem;
}

.promo_2up {
  @include padding(3.25rem 0 5.75rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_50 {
  border: none;
  display: flex;
  float: left;
  width: 44%;
  max-width: 560px;
  margin: 0 2%;
  @include media($narrow) {
    width: 94%;
  }
  @include media($odd) {
    width: 94%;
  }
  @include media($small) {
    width: 94%;
  }
}

.card_50 + .card_50 {
  @include media($narrow) {
    margin-top: 2.5rem;
  }
  @include media($odd) {
    margin-top: 1.75rem;
  }
  @include media($small) {
    margin-top: 1.75rem;
  }
}

.news_contact {
  $side: 1px;
  @include border($side 0 $side 0, $medium-gray);
  @include padding(1rem 0 0);
}

.tags,
.blog_author {
	float: left;
	margin: 0 0 1.25rem;
	width: 100%;
}

.profile_container + .profile_container {
  margin: 1.5rem 0 0;
}

.promo_2up,
.profile_top {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media($narrow) {
    flex-direction: column;
  }
  @include media($odd) {
    flex-direction: column;
  }
  @include media($small) {
    flex-direction: column;
  }
}

.profile_photo {
  margin: 0 1.5rem 0 0;

  @include media($narrow) {
    margin: 0 0 1.5rem 0;
  }
  @include media($odd) {
    margin: 0 0 1.5rem 0;
  }
  @include media($small) {
    margin: 0 0 1.5rem 0;
  }
}

.profile_photo,
.profile_job {
  float: left;
}
