@mixin mq($media) {

    @if $media == xxs {
        @media (max-width: 480px) { @content; }
    }

    @if $media == xs {
        @media (min-width: 481px) and (max-width: 767px) { @content; }
    }

    @else if $media == sm {
        @media (min-width: 768px) {@content; }
    }

    @else if $media == md {
        @media (min-width: 992px) { @content; }
    }

    @else if $media == lg {
        @media (min-width: 1080px) { @content; }
    }

    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }

    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }

    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}

// I'n not good at math, took me longer than it should to figure out this mixin
@mixin masonry($columns,$gutter-size) {
    $column-width: 100% / $columns - $gutter-size !global;
    $gutter: (100 - ($columns * $column-width)) / ($columns - 1) !global;

    .masonry {
      margin: $gutter 0;

      .grid-sizer {
           width: $column-width;
       }

       .gutter-sizer {
           width: $gutter;
       }

      .item {
        @include padding(1.25rem);
        background-color: $white;
            width: $column-width;
            margin-bottom: $gutter;

            img {
                width: 100%;
            }
        }
    }
}

// This is where the magic happens
// set the $gutter-width %
$gutter-width: 2.25;

// set number of columns for breakponts
@include mq(xxs) {
	@include masonry(1,$gutter-width); // 1 columns
}

@include mq(xs) {
	@include masonry(2,$gutter-width); // 2 columns
}

@include mq(sm) {
	@include masonry(2,$gutter-width); // 2 columns
}

@include mq(md) {
	@include masonry(3,$gutter-width); // 3 columns
}

@include mq(lg) {
	@include masonry(3,$gutter-width); // 3 columns
}
