// Node Page Viewmode

.content_bottom,
.feature_news {
	margin: 2.5rem 0 3.25rem;
}
.home_news {
	margin: 2.5rem 0 0;
}

.path-frontpage .link_wrapper,
.path-taxonomy .feature_news {
		margin: 0 0 3.25rem;
}

.feature_news,
.home_news {
	&:blank,
	&:empty {
		display: none !important;
	}
}

.topics_articles {
	margin: 0 0 2.5rem
}

.tile_menu {
	margin: 1.5rem 0 0;
}

.page-node-type-page .tile_menu {
	margin: 1.5rem 0 3.25rem;
}

.content_inset {
	max-width: 100%;
	@include media($large) {
		max-width: 52.5rem;
		@include padding(0);
	}
	@include media($full) {
		max-width: 52.5rem;
		@include padding(0);
	}
}

.content_full,
.content_main {
	margin: 0 0 3.25rem;
}

.context-news-all .intro-inner > .content_full,
.context-contact .intro-inner > .content_full {
	margin-bottom: 0;
}

.context-alzheimers-clinical-trials .tile_menu,
.page-node-type-generic-landing .tile_menu {
	margin: 0 0 0;
}

.page-node-type-generic-landing .bg_polar {
	margin: 2.5rem 0 0;
}

.page-node-type-division-landing .bg_fullbleed {
		margin: 3.25rem 0 5rem;
}

// News Viewmode

.section-header {
	float: left;
	width: 100%;
	margin: 0 0 1.75rem;
}

.bottom_promo .section-header {
	margin: .75rem 0 0;
}

// Cards - Teasers Viewmode

.feature_news,
.mainbox {
	display: box;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-flex-direction: row;
  flex-direction: row;

	@include media($large) {
		flex-grow: 0;
	}

	@include media($full) {
		flex-grow: 0;
	}

	@include media($medium) {
		flex-grow: 0;
	}

	@include media($odd) {
		flex-grow: 1;
	}

	@include media($small) {
		flex-grow: 1;
	}
}

.feature_researches,
.feature_resources,
.feature_news {
	justify-content: flex-start;
}

.feature_promos {
	justify-content: space-around;
}

.feature_labs {
	justify-content: space-between;

	@include media($medium) {
		justify-content: center;
	}

	@include media($narrow) {
		justify-content: center;
	}

	@include media($odd) {
		justify-content: center;
	}

	@include media($small) {
		justify-content: center;
	}
}

.special_jumpnav {
	padding: 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	@include media($narrow) {
		justify: center;
	}
}

.special_jumpnav > li,
.special_jumpnav > li:last-of-type {
	box-sizing: border-box;
	height: 5rem;
	min-height: 5rem;
	display: inline-block;
	padding: 0;
	width: 31%;
	margin: .75rem 1%;
	text-align: center;

	@include media($medium) {
		min-height: 10rem;
	}
	@include media($narrow) {
		width: 48%;
		min-height: 8rem;
	}
	@include media($odd) {
		width: 98%;
	}
	@include media($small) {
		width: 98%;
	}
}

.card,
.research_item,
.news_item {
	float: left;
	flex: auto;
}

.news_item,
.card_25 {
  // max-width: 17.25rem;
	max-width: 15.25rem;
	margin: .75rem;
}

.card_33 {
	width: 31.3333%;
	max-width: 31.3333%;
	margin: 0 1% 1.5rem;

	@include media($full) {
		width: 31.3333%;
		max-width: 31.3333%;
		margin: 0 1% 1.5rem;
	}
	@include media($medium) {
		width: 30.3333%;
		max-width: 31.3333%;
		margin: 0 1.5% 1.5rem;
	}
	@include media($narrow) {
		width: 46%;
		max-width: 46%;
		margin: 0 2% 1.5rem;
	}
	@include media($odd) {
		width: 92%;
		max-width: 92%;
		margin: 0 5% 1.5rem;
	}
	@include media($small) {
		width: 92%;
		max-width: 92%;
		margin: 0 4% 1.5rem;
	}
}

.special_jumpnav li > a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.news-thumbnail img {
	height: auto;
}

.card_copy {
	@include padding(.625rem 1rem 0);
}

.card {
	@include rgba-background($white, 1);
	$side: 2px;
	@include border($side $side $side $side, $white);
}

.news-item,
.related-item {
	@include rgba-background($white, 1);
	$side: 1px;
	@include border($side $side $side $side, $ghost);
}

.author-pic img {
	$side: 1px;
	@include border($side $side $side $side, $white);
}

.news-item {
	.news-image {
		margin: 0 0 1.25rem;
	}
}

.related-item {
	@include padding(1.25rem);
}

.feature_news .news-thumbnail {
	display: block;
	margin: 0 0 1.125rem;
}

.feature_labs {
	.lab_item {
		width: 23.75rem;
		margin: 2.5rem 0 2.5rem;
		@include media($medium) {
			max-width: 23.75rem;
		}
		@include media($narrow) {
			flex: auto;
			max-width: 23.75rem;
			margin: 1.25rem 0 1.25rem;
		}
		@include media($odd) {
			flex: auto;
			max-width: 23.75rem;
			margin: 1.25rem 0 1.25rem;
		}
		@include media($small) {
			flex: auto;
			max-width: 23.75rem;
			margin: 1.25rem 0 1.25rem;
		}
	}
}

.topical_image {
	@include media($narrow) {
		margin: 0 0 1.5rem;
	}
  @include media($odd) {
		margin: 0 0 1.5rem;
	}
  @include media($small) {
		margin: 0 0 1.5rem;
	}
}

// Sidebar - List Viewmode

.sidebar-item {
	display: flex;
	flex-direction: row;

	.col {
		flex: auto;
		line-height: 1;
	}

	.col-left {
		margin: 0 1rem 0 0;
		min-width: 100px;
		max-width: 100px;
	}
}

.sidebar-item + .sidebar-item {
	 margin: 1.75rem 0 0;
}

.block-sidebar p {
	margin: 0 0;
}

// Featured Item - 2 columns

.col-12-full {
  @include outer-container;

  .col-8-left {
    @include span-columns(8);

    @include media($medium) {
      @include span-columns(7)
    }

    @include media($narrow) {
      @include span-columns(5);
    }

    @include media($odd) {
      @include span-columns(6);
			@include omega;
    }

    @include media($small) {
      @include span-columns(4);
    }
  }

  .col-4-right {
    @include span-columns(4);
		@include omega;

    @include media($medium) {
      @include span-columns(3);
    }

    @include media($narrow) {
      @include span-columns(3);
    }

    @include media($odd) {
      @include span-columns(6);
    }

    @include media($small) {
      @include span-columns(4);
    }
  }
}

.quink-links-topics {
	-ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

	justify-content: center;
}

.topic-item {
	float: left;
	height: 2.5rem;
	flex: auto;
	margin: .75rem 0;
	padding: 0 .75rem 0 0;
	height: 2.5rem;
}

// Column - Grid Layouts

.col-12-full {
	@include outer-container;

	.col-3-left {
		@include span-columns(3);

		@include media($medium) {
			@include span-columns(3);
		}
		@include media($narrow) {
			@include span-columns(8);
		}
		@include media($odd) {
			@include span-columns(6);
		}
		@include media($small) {
			@include span-columns(4);
		}
	}

	.col-9-right {
		@include span-columns(9);
		@include omega;

		@include media($medium) {
			@include span-columns(7);
		}
		@include media($narrow) {
			@include span-columns(8);
		}
		@include media($odd) {
			@include span-columns(6);
		}
		@include media($small) {
			@include span-columns(4);
		}
	}

}

.col-9-full, .col-9-6-3 {
	@include span-columns(9 of 9);

	@include media($medium) {
		@include span-columns(7 of 7);
	}
	@include media($narrow) {
		@include span-columns(8 of 8);
	}
	@include media($odd) {
		@include span-columns(6 of 6);
	}
	@include media($small) {
		@include span-columns(4 of 4);
	}
}

.col-9-6-3 {
	.col-6-left {
		@include span-columns(6 of 9);
		@include media($medium) {
			@include span-columns(5 of 7);
		}
		@include media($narrow) {
			@include span-columns(6 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($small) {
			@include span-columns(4 of 4);
		}
	}

	.col-3-right {
		@include span-columns(3 of 9);
		@include omega;
		@include media($medium) {
			@include span-columns(2 of 7);
		}
		@include media($narrow) {
			@include span-columns(2 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($small) {
			@include span-columns(4 of 4);
		}
	}
}

.col-9-3-6 {

	.col-3-left {
		@include span-columns(3 of 9);
		@include media($medium) {
			@include span-columns(2 of 7);
		}
		@include media($narrow) {
			@include span-columns(2 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($odd) {
			@include span-columns(4 of 4);
		}
	}

	.col-6-right {
		@include span-columns(6 of 9);
		@include omega;
		@include media($medium) {
			@include span-columns(5 of 7);
		}
		@include media($narrow) {
			@include span-columns(6 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($odd) {
			@include span-columns(4 of 4);
		}
	}
}

.col-9-2-7 {

	.col-2-left {
		@include span-columns(2 of 9);
		@include media($medium) {
			@include span-columns(2 of 7);
		}
		@include media($narrow) {
			@include span-columns(2 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($odd) {
			@include span-columns(4 of 4);
		}
	}

	.col-7-right {
		@include span-columns(7 of 9);
		@include omega;
		@include media($medium) {
			@include span-columns(5 of 7);
		}
		@include media($narrow) {
			@include span-columns(6 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($odd) {
			@include span-columns(4 of 4);
		}
	}
}

.col-9-5-4 {

	.col-5-left {
		@include span-columns(5 of 9);
		@include media($medium) {
			@include span-columns(4 of 7);
		}
		@include media($narrow) {
			@include span-columns(4 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($odd) {
			@include span-columns(4 of 4);
		}
	}

	.col-4-right {
		@include span-columns(4 of 9);
		@include omega;
		@include media($medium) {
			@include span-columns(3 of 7);
		}
		@include media($narrow) {
			@include span-columns(4 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($odd) {
			@include span-columns(4 of 4);
		}
	}
}

// .promo_items {
// 	@include padding(0 .75rem);
// }

.promo_item {
	margin: 0 0 2rem;
	box-sizing: border-box;
}

.promo_items_left,
.promo_items_right {
  @include media($small) {
    @include span-columns(4);
  }
}

// Content Area - Margin/Padding

.callout-wrapper {
	margin: 0 0 1.25rem;
	.callout {
		display: flex;
		float: left;
		align-items: center;
		a {
			display: block;
			flex: auto;
			line-height: 1;
		}
	}
}

.block_quick-links {
	@include padding(1.25rem 0 0);
}

.path-alzheimers .ct-block-inner,
.path-node .content-inner,
.path-taxonomy .content-inner {
	@include media($large) {
			@include padding(1.25rem 0 1.75rem);
		}
	@include media($full) {
			@include padding(1.25rem 1.5% 1.75rem);
	}
	@include media($medium) {
			@include padding(1.25rem 2% 1.75rem);
	}
	@include media($narrow) {
			@include padding(1.25rem 3% 1.75rem);
	}
	@include media($odd) {
			@include padding(1.25rem 4% 1.75rem);
	}
	@include media($small) {
			@include padding(1.25rem 4% 1.75rem);
	}
}

.context-health .bg_smoke.landing-content .content-inner {
	@include padding(0 0);
}

.intro-inner,
.special_intro {
	@include media($large) {
		@include padding(0 0 .75rem);
	}
	@include media($full) {
		@include padding(0 0 .75rem);
	}
	@include media($medium) {
		@include padding(0 2% .75rem);
	}
	@include media($narrow) {
		@include padding(0 3% .75rem);
	}
	@include media($odd) {
		@include padding(0 4% .75rem);
	}
	@include media($small) {
		@include padding(0 4% .75rem);
	}
}

.banner-inner,
.breadcrumb_inner,
.footer-inner,
.promo_items,
.views-view-grid {
	@include media($large) {
			@include padding(0 0);
		}
	@include media($full) {
			@include padding(0 1.5%);
	}
	@include media($medium) {
			@include padding(0 2%);
	}
	@include media($narrow) {
			@include padding(0 3%);
	}
	@include media($odd) {
			@include padding(0 4%);
	}
	@include media($small) {
			@include padding(0 4%);
	}
}

.paragraph-inner,
.title-inner {
	@include media($large) {
		@include padding(1.25rem 0 0);
		width: 100%;
	}
	@include media($full) {
			@include padding(1.25rem 1.5% 0);
	}
	@include media($medium) {
			@include padding(1.25rem 2% 0);
	}
	@include media($narrow) {
			@include padding(1.25rem 3% 0);
	}
	@include media($odd) {
			@include padding(1.25rem 4% 0);
	}
	@include media($small) {
			@include padding(1.25rem 4% 0);
	}
}

.tile_menu .paragraph-inner {
	@include media($large) {
		@include padding(0);
		width: 100%;
	}
	@include media($full) {
			@include padding(0);
	}
	@include media($medium) {
			@include padding(0);
	}
	@include media($narrow) {
			@include padding(0);
	}
	@include media($odd) {
			@include padding(0);
	}
	@include media($small) {
			@include padding(0);
	}
}

// Listed Items Display

.link-to-page,
.listed-article,
.topical_item {
	clear: both;
	float: left;
	@include padding(2rem 0 1.75rem);
	width: 100%;
}

.link-to-page,
.listed-article {
	@include media($large) {
		@include padding(2rem 0 1.75rem);
		width: 100%;
	}
	@include media($full) {
		@include padding(2rem 1.5% 1.75rem);
		width: 96%;
	}
	@include media($medium) {
		@include padding(2rem 2% 1.75rem);
		width: 96%;
	}
	@include media($narrow) {
		@include padding(2rem 3% 1.75rem);
		width: 94%;
	}
	@include media($odd) {
		@include padding(2rem 4% 1.75rem);
		width: 92%;
	}
	@include media($small) {
		@include padding(2rem 4% 1.75rem);
		width: 92%;
	}
}

.topical_item_01,
.topical_item:first-of-type,
.listed-article:first-of-type, {
	@include padding(.25rem 0 1.75rem);
}

.listed-article + .listed-article,
.topical_item + .topical_item {
  $side: 1px;
  @include border($side 0 0 0, $dark-gray);

}

.listed-article .col-100 {
	width: 100%;
}

.col-100 {
	@include padding(.25rem 0);
	display: flex;
	flex-wrap: wrap;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.col-item {
	flex: auto;
	flex-shrink: 0;
	height: 44px;
	margin: .5rem 0;
}

.col-item:nth-of-type(1) {
	flex-grow: 2;
}

.col-item:nth-of-type(2) {
	flex-grow: 1;
	text-align: right;
}

.author-pic {
	float: left;
	margin: .5rem 1.25rem 0 0;
	box-sizing: content-box;
	vertical-align: bottom;
}

.featured-article .author-pic {
	@include media($large) {
		max-width: 240px;
  }
	@include media($medium) {
		max-width: 240px;
	}
}

.listed-article {
	max-width: 53.5rem;
	@include media($large) {
		.author-pic  {
			max-width: 186px;
		}
	}
	@include media($medium) {
		.author-pic {
			max-width: 186px;
		}
	}
}

.tags a,
.topics .topic-link {
	float: left;
	margin: .75rem .25rem .75rem;
	@include media($medium) {
		clear: left;
	}
	@include media($odd) {
		clear: left;
	}
	@include media($small) {
		clear: left;
	}
}

.summary-widgets {
	margin: 1.5rem 0;
}

.summary-widgets > .col-item {
	@include media($medium) {
		display: block;
		float: left;
		height: 100%;
		width: 100%;
	}
	@include media($odd) {
		display: block;
		float: left;
		height: 100%;
		width: 100%;
	}
	@include media($small) {
		display: block;
		float: left;
		height: 100%;
		width: 100%;
	}
}
