// Page Layout

$max-width: 1080px !default;

.container {
	width: 100%;
}

.banner-inner,
.block_local_tasks,
.block_quick-links,
.block_search_topics,
.breadcrumb_inner,
.content-inner,
.ct-block-inner,
.description-inner,
.footer-inner,
.form-inner,
.fullbleed-inner,
.hero-inner,
.intro-inner,
.login-form,
.nav-inner,
.paragraph-inner,
.promo-inner,
.ribbon-inner,
.special_intro,
.title-inner,
.topic-nav-inner,
.viewsblock-inner {
	@include outer-container($max-width);
}

.content-inner {
	@include padding(0);
	position: relative;
}

.bg_fullbleed {
	@include padding(3.75rem 0);
	margin: 0 0 5rem;
}

.breadcrumb {
	@include padding(.75rem 0);
}

.paragraph:first-child .paragraph-inner {
	padding: 2.65rem 0 0;
}

.content_main {
	@include padding(0 1.125rem 0 0);

	@include media($narrow) {
		@include padding(0 0 0 0);
	}
	@include media($odd) {
		@include padding(0 0 0 0);
	}
	@include media($small) {
		@include padding(0 0 0 0);
	}
}

.path-site-search .content_main {
	@include padding(0 1.125rem 0 0);

	@include media($narrow) {
		@include padding(0 1.125rem 0 0);
	}
	@include media($odd) {
		@include padding(0 1.125rem 0 0);
	}
	@include media($small) {
		@include padding(0 1.125rem 0 0);
	}
}

// Header - Footer Layout

.hero-inner {
	@media screen and (min-width: 1080px) {
		box-sizing: content-box;
		height: auto;
		width: 1080px;
		margin: auto;
	}
	max-width: 100%;
}

.path-frontpage .hero-inner {
	@include padding(0 1.5rem);

	@include media($full) {
		@include padding(0 1.5rem);
	}
	@include media($medium) {
		@include padding(0 0);
	}
	@include media($narrow) {
		@include padding(0 0);
	}
	@include media($odd) {
		@include padding(0 0);
	}
	@include media($small) {
		@include padding(0 0);
	}
}

.path-alzheimers .hero-inner {
	box-sizing: border-box;
	@include padding(0 0);

	@include media($full) {
		@include padding(0 1.5%);
	}
	@include media($medium) {
		@include padding(0 2%);
	}
	@include media($narrow) {
		@include padding(0 3%);
	}
	@include media($odd) {
		@include padding(0 4%);
	}
	@include media($small) {
		@include padding(0 4%);
	}
}

.banner {
	@include padding(2rem 0 2.5rem);
	@include media($narrow) {
		@include padding(2rem 0 2.5rem);
	}
	@include media($odd) {
		@include padding(1.75rem 0 2rem);
	}
	@include media($small) {
		@include padding(1.5rem 0 .5rem);
	}
}

.block_logo {
	@include span-columns(8);
}

@include direction-context(right-to-left) {
	.block_search {
		@include span-columns(4);
	}
}

.ribbon {
	@include padding(.5rem 1.25rem .25rem);
}

.banner-inner {
	@include outer-container($max-width);

	.block_logo {
		@include span-columns(8);
		@include media($narrow) {
			@include span-columns(8);
			margin: 0 0 .75rem;
		}
		@include media($odd) {
			@include span-columns(6);
			margin: 0 0 .75rem;
		}
		@include media($small) {
			@include span-columns(4);
			margin: 0 0 .75rem;
		}
	}

	.block_search {
		@include span-columns(4);
		@include omega();
		@include media($narrow) {
			@include span-columns(8);
		}
		@include media($odd) {
			@include span-columns(6);
		}
		@include media($small) {
			@include span-columns(4);
		}
	}
}

.footer_top {
	.footer_wrapper {
		@include padding(2.5rem 1.25rem 2.5rem);
	}
}

.footer-inner {
	@include outer-container;
	.block_social {
		@include padding(0 0 1.75rem);
		@include span-columns(5);
		@include media($narrow) {
			@include span-columns(4);
		}
		@include media($odd) {
			@include span-columns(6);
		}
		@include media($small) {
			@include span-columns(4);
		}
	}

	.block_signup {
		@include span-columns(7);
		@include omega;
		@include media($narrow) {
			@include span-columns(4);
			@include omega;
		}
		@include media($odd) {
			@include span-columns(6);
		}
		@include media($small) {
			@include span-columns(4);
		}
	}
}

.block_signup {
	.form_description {
		text-align: left;
		@include span-columns(3 of 7);
		@include media($narrow) {
			@include span-columns(4 of 4);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($small) {
			@include span-columns(4 of 4);
		}
	}
	.form_submission {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		@include span-columns(4 of 7);
		@include media($narrow) {
			@include span-columns(4 of 4);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($small) {
			@include span-columns(4 of 4);
		}
	}
}

.footer-menu {
	@include media($large) {
		@include direction-context(right-to-left);
	}
	.menu {
		display: inline-flex;
		float: right;
	}

	padding: 0 !important;
	@include media($medium) {
		@include direction-context(left-to-right);
		.menu {
			float: none;
		}
	}
	@include media($narrow) {
		@include span-columns(8 of 8);
	}
	@include media($odd) {
		@include span-columns(6 of 6);
	}
	@include media($small) {
		@include span-columns(4 of 4);
	}
}

.footer {
	$side: 7px;
	@include border($side 0 0 0, white);
}

.footer_wrapper {
	$side: 1px;
    @include border($side 0 0 0, white);
		@include padding(2rem 0);
}
// Main - Content Layout

@include media($large) {
	@include direction-context(right-to-left) {
		.page-title-wrapper {
			@include span-columns(9 of 12);
		}
	}
}

@include media($large) {
	@include direction-context(left-to-right) {
		.ct_header,
		.ct_filter {
			@include span-columns(8 of 12);
		}
	}
}

.landing-content {
	 @include padding(2.5rem 0);
}

.landing-banner,
.landing-browser,
.landing-content {
	@include media($large) {
		padding-left: 0;
		padding-right: 0;
	}
	@include media($full) {
		padding-left: 2%;
		padding-right: 2%;
	}
	@include media($medium) {
		padding-left: 2%;
		padding-right: 2%;
	}
	@include media($narrow) {
		padding-left: 3%;
		padding-right: 3%;
	}
	@include media($odd) {
		padding-left: 4%;
		padding-right: 4%;
	}
	@include media($small) {
		padding-left: 4%;
		padding-right: 4%;
	}
}

.article {
	@include padding(0 0 0);
}

.col-12-full {
	@include outer-container($max-width);
}

.col-12 {
	@include span-columns(12);
	@include media($medium) {
		@include span-columns(10);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-9 {
	@include span-columns(9);
	@include media($medium) {
		@include span-columns(7);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-9-left {
	@include span-columns(9);
	@include media($medium) {
		@include span-columns(7);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-9-right {
	@include span-columns(9);
	@include omega;
	@include media($medium) {
		@include span-columns(7);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-8-left {
	@include span-columns(8);
	@include media($medium) {
		@include span-columns(8);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-8-right {
	@include span-columns(8);
	@include omega;
	@include media($medium) {
		@include span-columns(8);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-7-left {
	@include span-columns(7);
	@include media($medium) {
		@include span-columns(8);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-7-right {
	@include span-columns(7);
	@include omega;
	@include media($medium) {
		@include span-columns(8);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-6-left {
	@include span-columns(6);
	@include media($medium) {
		@include span-columns(5);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-6-right {
	@include span-columns(6);
	@include omega;
	@include media($medium) {
		@include span-columns(5);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-4-left {
	@include span-columns(4);
	@include media($medium) {
		@include span-columns(4);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-4-right {
	@include span-columns(4);
	@include media($medium) {
		@include span-columns(4);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-3-right {
	@include span-columns(3);
	@include media($medium) {
		@include span-columns(3);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-3-right {
	@include span-columns(3);
	@include omega;
	@include media($medium) {
		@include span-columns(3);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-2-left {
	@include span-columns(2);
	@include media($medium) {
		@include span-columns(2);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

.col-2-right {
	@include span-columns(2);
	@include omega;
	@include media($medium) {
		@include span-columns(2);
	}
	@include media($narrow) {
		@include span-columns(8);
	}
	@include media($odd) {
		@include span-columns(6);
	}
	@include media($small) {
		@include span-columns(4);
	}
}

// Topics - Content Layout


.column_topics-search {
	@include span-columns(8 of 12);
	@include direction-context(left-to-right);
	@include media($medium) {
		@include span-columns(8 of 10);
		// @include padding( 0 1rem 0);
	}
	@include media($narrow) {
		@include span-columns(6 of 8);
		// @include padding( 0 1rem 0);
	}
	@include media($odd) {
		@include span-columns(6 of 6);
		// @include padding( 0 1rem 0);
	}
	@include media($small) {
		@include span-columns(4 of 4);
		// @include padding( 0 1rem 0);
	}
}

.column_quick-links {
	@include span-columns(12 of 12);
	@include media($medium) {
		@include span-columns(10 of 10);
	}
	@include media($narrow) {
		@include span-columns(8 of 8);
	}
	@include media($odd) {
		@include span-columns(6 of 6);
	}
	@include media($small) {
		@include span-columns(4 of 4);
	}
}

.column_quick-links {
	.quink-links-topics {
		@include span-columns(8 of 12);
		@include media($medium) {
			@include span-columns(7 of 10);
		}
		@include media($narrow) {
			@include span-columns(5 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($small) {
			@include span-columns(4 of 4);
		}
	}

	.quick-links-AtoZ {
		@include span-columns(4 of 12);
		@include omega;
		@include media($medium) {
			@include span-columns(3 of 10);
		}
		@include media($narrow) {
			@include span-columns(3 of 8);
		}
		@include media($odd) {
			@include span-columns(6 of 6);
		}
		@include media($small) {
			@include span-columns(4 of 4);
		}
	}
}

@media (max-width: 60em) {
	.col_full {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;

		.col_left {
			-webkit-box-ordinal-group: 2;
			-moz-box-ordinal-group: 2;
			-ms-flex-order: 2;
			-webkit-order: 2;
			order: 2;
		}

		.col_right {
			-webkit-box-ordinal-group: 1;
			-moz-box-ordinal-group: 1;
			-ms-flex-order: 1;
			-webkit-order: 1;
			order: 1;
		}
  }
}

.path-node .col_right {
	margin: 0 0 5rem;
}

.sidebar-content {
	@include padding(0);
	margin: 0 0 2rem;
}

.left {
  float: left;
}

.right {
  float: right;
}
