// Global Background

header,
main {
	background-color: $base-background-color;
}

.bg_bahama,
.ribbon {
  @include rgba-background($bahama, 1);
}

.bg_carrot {
	@include rgba-background($carrot, 1);
}

body,
.page,
.bg_cardinal {
  @include rgba-background($cardinal, 1);
}

.bg_concrete {
  @include rgba-background($concrete, 1);
}

.bg_denim,
.hero {
  @include rgba-background($denim, 1);
}

.bg_geyser,
.promo_infocenter {
	@include rgba-background($geyser, 1);
}

.bg_mischka {
  @include rgba-background($mischka, 1);
}

.bg_ocean {
  @include rgba-background($ocean, 1);
}

.bg_polar,
.anchor_menu {
  @include rgba-background($polar, 1);
}

.bg_smoke,
.section_navigation {
  @include rgba-background($smoke, 1);
}

.bg_silver {
  @include rgba-background($silver, 1);
}

.bg_tangerine {
  @include rgba-background($tangerine, 1);
}

.bg_teal {
	@include rgba-background($teal, 1);
}

.bg_white {
  @include rgba-background($white, 1);
}

.landing-banner {
	background-repeat: no-repeat;
	background-size: auto;
}

.context-health .landing-banner,
.context-health-topics-list .landing-banner,
.context-health-health-information .landing-banner {
	background-image: url("../images/tile_leaf.svg");
	background-position: 85% 30%;

	@include media($medium) {
		background-size: auto;
		background-position: -225% 30%;
	}
	@include media($narrow) {
		background-size: auto;
		background-position: -125% 30%;
	}
	@include media($odd) {
		background-size: auto;
		background-position: 100% 30%;
	}
	@include media($small) {
		background-size: auto;
		background-position: -100% 30%;
	}
}

.context-research .landing-banner {
	background-image: url("../images/tile_circle.svg");
	background-position: 70% 50%;

	@include media($medium) {
		background-size: auto;
		background-position: -225% 50%;
	}
	@include media($narrow) {
		background-size: auto;
		background-position: -125% 50%;
	}
	@include media($odd) {
		background-size: auto;
		background-position: -100% 50%;
	}
	@include media($small) {
		background-size: auto;
		background-position: -100% 50%;
	}
}

.context-news .landing-banner {
	background-image: url("../images/tile_rectangle.svg");
	background-position: 70% 20%;

	@include media($medium) {
		background-size: auto;
		background-position: -225% 10%;
	}
	@include media($narrow) {
		background-size: auto;
		background-position: -125% 10%;
	}
	@include media($odd) {
		background-size: auto;
		background-position: -100% 10%;
	}
	@include media($small) {
		background-size: auto;
		background-position: -100% 10%;
	}
}

.context-about .landing-banner {
	background-image: url("../images/tile_angular.svg");
	background-position: 70% 60%;

	@include media($medium) {
		background-size: auto;
		background-position: -225% 60%;
	}
	@include media($narrow) {
		background-size: auto;
		background-position: -125% 60%;
	}
	@include media($odd) {
		background-size: auto;
		background-position: -100% 60%;
	}
	@include media($small) {
		background-size: auto;
		background-position: -100% 60%;
	}
}

.path-alzheimers .landing-banner {
	background-image: url('../images/bg_ct_hero.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.context-health,
.context-research,
.context-news,
.context-about,
.path-taxonomy {
	.landing-banner {
		@include padding(1.75rem 0 2rem);
	}
}

.path-alzheimers .landing-banner {
	margin: 0 0 2.5rem;
}

.context-health,
.context-research {
	.bg_white {
			@include padding(0 0 2.5rem);
	}
}

.context-health-infographics {
	.bg_smoke {
		@include padding(2.5rem 0 2.5rem);
	}
}

.context-news {
	.bg_smoke {
		@include padding(2.5rem 0 10rem);
	}
}

.context-research-blog .landing-banner {
	@include padding(4rem 0);
}

.path-alzheimers .landing-banner {
	@include padding(2.5rem 0);
}

.bottom_promo {
	$side: 8px;
	@include border(0 0 $side 0, $white);
}

.footer,
.topic-navigation {
	$side: 8px;
	@include border($side 0 0 0, $white);
}

.footer_wrapper {
	$side: 1px;
    @include border($side 0 0 0, $white);
		@include padding(2rem 0);
}

// Tables

thead,
.tableHeading {
  @include rgba-background($sun, 1);
}

tbody {
  @include rgba-background($beeswax, 1);
}
