{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{# Array of spanish node types, add/remove when necessary #}
{%  set spanishtypes = ['spanish_articles'] %}
{# Array of spanish root subpaths, add/remove when necessary #}
{%  set spanishpaths = ['/health/espanol/', '/health/spanish/'] %}

{# create a variable to indicate if were in a spanish path #}
{% set in_spanish_path = false %}
{# Check if current path is in one of our spanish subpaths #}
{% for path in  spanishpaths %}
  {% if path in current_path %}
    {# set our spanish path indicator to true #}
    {% set in_spanish_path = true %}
  {% endif %}
{% endfor %}

{# check if were at a node page and is a psanish node type #}
{% if in_spanish_path or (node_type is defined and node_type in spanishtypes) %}
  {# set lang attribute to es #}
  {% set html_attributes = html_attributes.setAttribute('lang', 'es') %}
{%  endif %}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    current_path ? 'context' ~ current_path|clean_class,
  ]
%}
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable" tabindex="1">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
