{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header id="header" class="header" role="banner">
  {{ page.dhhs }}
  {{ page.header }}
  {{ page.primary_menu }}
</header>

<main class="main-content clearfix" role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.hero }}

  {% if page.blue_banner %}
    <div class="bg_fluid bg_denim landing-banner container clearfix" role="content">
      <div class="banner-inner">
        {{ page.blue_banner }}
      </div>
    </div>
  {% endif %}

  {% if page.carrot_banner %}
    <div class="bg_fluid bg_carrot landing-banner container clearfix" role="content">
      <div class="banner-inner">
        {{ page.carrot_banner }}
      </div>
    </div>
  {% endif %}

  {% if page.teal_banner %}
    <div class="bg_fluid bg_teal landing-banner container clearfix" role="content">
      <div class="banner-inner">
        {{ page.teal_banner }}
      </div>
    </div>
  {% endif %}

  {% if page.white_banner %}
    <div class="bg_fluid bg_white landing-banner container clearfix" role="content">
      <div class="banner-inner">
        {{ page.white_banner }}
      </div>
    </div>
  {% endif %}

  {% if page.grey_top_section %}
      <div class="bg_fluid bg_smoke landing-content clearfix" role="content">
        <div class="content content-inner">
          {{ page.grey_top_section }}
        </div>
      </div>
  {% endif %}

  {% if page.page_title %}
    <div class="bg_fluid bg_white layout-content main-title clearfix" role="content">
      <div class="title-inner">
      {{ page.page_title }}
      </div>
    </div>
  {% endif %}

  {% if page.content %}
    <article class="bg_fluid bg_white layout-content main-article clearfix" role="content">
      {{ page.content }}
    </article>
  {% endif %}

  {% if page.polar_section %}
    <article class="bg_fluid bg_polar clearfix" role="content">
      <div class="promo_contents quick-links">
        <div class="content content-inner">
          {{ page.polar_section }}
        </div>
      </div>
    </article>
  {% endif %}

  {% if page.grey_section %}
    <div class="bg_fluid bg_smoke clearfix" role="content">
      <div class="content content-inner">
        <div class="masonry">
          <div class="grid-sizer"></div>
          <div class="gutter-sizer"></div>
          {{ page.grey_section }}
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.promo_section %}
    <article class="bg_fluid bg_white clearfix" role="content">
      <div class="content content-inner">
        {{ page.promo_section }}
      </div>
    </article>
  {% endif %}

  {% if page.promo_adear_section %}
    <article class="bg_fluid bg_img clearfix" role="content">
      {{ page.promo_adear_section }}
    </article>
  {% endif %}

  {% if page.featured_resources_tangerine %}
    <section class="bg_fluid bg_tangerine feature clearfix" role="content">
      <div class="content content-inner">
          {{ page.featured_resources_tangerine }}
      </div>
    </section>
  {% endif %}

  {% if page.infobox_section %}
    <div class="bg_fluid bg_white clearfix" role="content">
      <div class="content content-inner">
          {{ page.infobox_section }}
      </div>
    </div>
  {% endif %}

  {% if page.partners_section %}
    <div class="bg_fluid bg_white clearfix" role="content">
      <div class="content content-inner">
          {{ page.partners_section }}
      </div>
    </div>
  {% endif %}

</main>

<footer class="footer" role="contentinfo">
  {{ page.footer_connect }}
  {{ page.footer_list }}
  {{ page.footer_menu }}
</footer>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521b95b020d5c37c"></script>
