{#
{% if content.overall_status is not empty %}
  <div class="ct-field">
    <h2 class="field_lead"><label for="ct-overall-status">Overall Status</label></h2>
    <div id="ct-overall-status">
      <ul class="field_list">
        {% for item in content.overall_status%}
          <li>
            {{ item }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
#}

{% if content.description_adear_brief.value is not empty %}
  <div class="ct-field">
    <h2 class="field_lead"><label for="ct-field-brief-description">Brief Description</label></h2>
    <div id="ct-field-brief-description">
      <p>{{ content.description_adear_brief.value|raw }}</p>
    </div>
  </div>
{% endif %}

{%
if content.pq_min_age.value is not empty or
content.pq_max_age.value is not empty or
content.pq_gender.value is not empty or
content.pq_healthy_volunteers.value is not empty
%}
  <div class="ct-field-group" id="ct-field-group-patient-qualifications">
    <h2 class="field_lead"><label for="ct-field-patient-qualifications">Patient Qualifications</label></h2>
    <table id="ct-field-patient-qualifications" class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Minimum Age</th>
        <th>Maximum Age</th>
        <th>Gender</th>
        <th>Healthy Volunteers</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ content.pq_min_age.value|raw }}</td>
        <td>{{ content.pq_max_age.value|raw }}</td>
        <td>{{ content.pq_gender.value|raw }}</td>
        <td>{{ content.pq_healthy_volunteers.value|raw }}</td>
      </tr>
      </tbody>
    </table>
  </div>
{% endif %}

<div class="field_group">

  {% if content.start_date.value is not empty %}
    <div class="ct-field">
      <label for="ct-field-start-date">Study Start Date:</label>
      <div id="ct-field-start-date">{{ content.start_date.value }}</div>
    </div>
  {% endif %}

  {% if content.end_date.value is not empty %}
    <div class="ct-field">
      <label for="ct-field-end-date">Study End Date:</label>
      <div id="ct-field-end-date">{{ content.end_date.value }}</div>
    </div>
  {% endif %}

  {% if content.disease_stage.value is not empty %}
    <div class="ct-field">
      <label for="ct-disease-stage">Disease Stage:</label>
      <div id="ct-disease-stage">
        <ul class="field_list">
          {% for item in content.disease_stage %}
            <li>
              {{ item }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if content.enrollment.value is not empty %}
    <div class="ct-field">
      <label for="ct-field-enrollment">Enrollment:</label>
      <div id="ct-field-enrollment">{{ content.enrollment.value }}</div>
    </div>
  {% endif %}

</div>

<div class="field_group">

  {% if content.inclusion_criteria.value is not empty %}
    <div class="ct-field">
      <h2 class="field_lead"><label for="ct-field-inclusion-criteria">Inclusion Criteria</label></h2>
      <div id="ct-field-inclusion-criteria">{{ content.inclusion_criteria.value|raw }}</div>
    </div>
  {% endif %}

</div>

<div class="field_group">

  {% if content.exclusion_criteria.value is not empty %}
    <div class="ct-field">
      <h2 class="field_lead"><label for="ct-field-exclusion-criteria">Exclusion Criteria</label></h2>
      <div id="ct-field-exclusion-criteria">{{ content.exclusion_criteria.value|raw }}</div>
    </div>
  {% endif %}

</div>

<div class="field_group">

  {% if content.description_adear_detailed.value is not empty %}
    <div class="ct-field">
      <h2 class="field_lead"><label for="ct-field-description-adear-detailed">Detailed Description</label></h2>
      <div id="ct-field-description-adear-detailed">{{ content.description_adear_detailed.value|raw }}</div>
    </div>
  {% endif %}

</div>

<div class="field_group">

  {% if content.central_contact_info.value is not empty %}
    <div class="ct-field">
      <h2 class="field_lead"><label for="ct-field-description-adear-detailed">Central Contact Information</label></h2>
      <div id="ct-field-description-adear-detailed">{{ content.central_contact_info.value|raw }}</div>
    </div>
  {% endif %}

  {% if content.location is not empty %}
    <h2 class="field_lead"><label for="ct-locations">Locations</label></h2>
    <table id="ct-locations" class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Status</th>
        <th>Primary Contact</th>
      </tr>
      </thead>
      <tbody>
      {% for item in content.location %}
        <tr>
          <td>
            {% if item.contact_site is not empty %}
              <a href="{{ item.contact_site }}">{{ item.name }}</a><br/>
            {% else %}
              {{ item.name }}<br/>
            {% endif %}
          </td>
          <td>{{ item.city }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.zip }}</td>
          <td>{{ item.location_status }}</td>
          <td>
            {{ item.primary_contact_name }}<br/>
            {{ item.primary_contact_phone }}<br/>
            {% if item.primary_contact_email is not empty %}
              <a href="mailto:{{ item.primary_contact_email }}">{{ item.primary_contact_email }}</a><br/>
            {% endif %}
            {% if item.contact_site is not empty %}
              <a href="{{ item.contact_site }}">Contact this site</a><br/>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

</div>

<div class="field_group">

  {% if content.lead_sponsor_agency_name.value is not empty %}
    <div class="ct-field">
      <h2 class="field_lead"><label for="ct-field-description-lead-sponsor">Lead Sponsor Agency</label></h2>
      <div id="ct-field-description-lead-sponsor"><p>{{ content.lead_sponsor_agency_name.value }}</p></div>
    </div>
  {% endif %}

  {% if content.collaborator_sponsors is not empty %}
    <div class="ct-field">
      <h2 class="field_lead"><label for="ct-collaborator-sponsors">Collaborator Sponsor</label></h2>
      <div id="ct-collaborator-sponsors">
        <ul class="field_list">
          {% for item in content.collaborator_sponsors%}
            <li>
              {{ item.name }}
              {% if item.classs %}
                - {{ item.class}}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if content.facility_investigators is not empty %}
    <h2 class="field_lead"><label for="ct-facility-investigators">Investigators</label></h2>
    <table id="ct-facility-investigators" class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Affiliation</th>
      </tr>
      </thead>
      <tbody>
      {% for item in content.facility_investigators %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.role }}</td>
          <td>{{ item.affiliation }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}


  {% if content.study_contact is not empty %}
    <h2 class="field_lead"><label for="ct-study-contact">Study Contact</label></h2>
    <table id="ct-study-contact" class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <!--<th>Extension</th>-->
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {% for item in content.study_contact %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.phone }}</td>
          <!--<td>{{ item.extensio }}</td>-->
          <td>
            {% if item.email is not empty %}
              <a href="mailto:{{ item.email }}">{{ item.email }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

</div>
