{% if content.trial_ref.value is not empty %}
  <div class="ct-field">
    <h2 class="field_lead"><label for="ct-field-trial-ref">Trial References</label></h2>
    <div id="ct-field-trial-ref"><p>{{ content.trial_ref.value|raw }}</p></div>
  </div>
{% endif %}
