<section class="hero_section landing-banner clearfix">
  <div class="hero-inner clearfix">
    <article class="ct_header clearfix">
        <h1 class="hero-title">Find Alzheimer’s Disease and Related Clinical Trials</h1>
        <p class="hero-copy ct_instruction">Search for clinical trials and studies related to Alzheimer's, other dementias, mild cognitive impairment, and caregiving.</p>
    </article>

    <aside class="ct_filter clearfix">
      {{ form }}
    </aside>
  </div>
</section>

{{ tiles }}

<section class="content_section landing-content clearfix">
  <div class="content-inner content_full clinical-trials-featured-wrapper">

    <div class="content_inset clearfix">
      <div class="section-header">

        <h2 class="section-title taxonomy-label">Featured Trials and Studies</h2>
      </div>
      {% for row in featured %}
        <div class="clinical-trials-featured">
          <h3>{{ row.name | raw }}</h3>
          <p>{{ row.body__summary | raw }}</p>
        </div>
      {% endfor %}
      </div>

    </div>
</section>

{% if promo_adear_section %}
<div class="bg_fluid bg_img clearfix" role="content">
  {{ promo_adear_section }}
</div>

{% else %}
{% endif %}
