<div class="title-inner">
  <h1 class="page-title node-title">{{ content.name.value }}</h1>
</div>

{% if content.has_content %}
  <div class="ct-block-inner content_full">
    {# Check if we have categories #}
    {% if categories is defined and categories is not empty %}
      <div class="tags"><p>
        {# Go through each category #}
        {% for tid, category in categories %}
          {# display keyword #}
          <a href="/alzheimers/clinical-trials/search/*/{{ tid }}/*/*">{{ category }}</a>
        {% endfor %}
      </p></div>
    {% endif %}

    {% if (content.edit_link is not empty) or (content.delete_link is not empty) %}
      <div id="ct-page-admin-tasks" class="ct-sub-block-wrappers">
        {% include directory ~ '/templates/clinical-trials/clinical-trials-admin-tasks.html.twig' %}
      </div>
    {% endif %}

    <div id="ct-page-main" class="ct-sub-block-wrappers">
      {% include directory ~ '/templates/clinical-trials/clinical-trials-page-main.html.twig' %}
    </div>

    <div id="ct-page-gov-info" class="ct-sub-block-wrappers">
      {% include directory ~ '/templates/clinical-trials/clinical-trials-gov-info.html.twig' %}
    </div>

    <div id="ct-page-references" class="ct-sub-block-wrappers">
      {% include directory ~ '/templates/clinical-trials/clinical-trials-references.html.twig' %}
    </div>

  </div>
{% endif %}
