<section class="hero_section landing-banner clearfix">
  <div class="hero-inner clearfix">
    <article class="ct_header clearfix">
        <h1 class="hero-title">Find Alzheimer’s Disease and Related Clinical Trials</h1>
        <p class="hero-copy ct_instruction">Search for clinical trials and studies related to Alzheimer's, other dementias, mild cognitive impairment, and caregiving.</p>
    </article>

    <aside class="ct_filter clearfix">
      {{ form }}
    </aside>
  </div>
</section>

<section class="content_section landing-content clearfix">
  <div id="clinical-trials-search-results-top" class="content-inner content_full clinical-trials-search-results-wrapper">

    <div class="content_inset clearfix">
      <div class="section-header">
        <h2 class="section-title taxonomy-label">Clinical Trials Search Results</h2>
      </div>

      {% if drupal_warnings  %}
        {% for drupal_warning in drupal_warnings %}
          <div role="contentinfo" aria-label="Warning message" class="content-inner warning_msg">
            <h2 class="visually-hidden">Warning message</h2>
            {{ drupal_warning }}
          </div>
        {% endfor %}
      {% endif %}

      {% if formatted_address  %}
        <p>Searching Clinical Trials in a radius of {{ distance }} miles from {{ formatted_address }}</p>
      {% endif %}

      {% if count > 0 %}
        <p>Results found: {{ count }}</p>
      {% else %}
        <p>No results found</p>
      {% endif %}

      {% for result in results %}
        <div class="clinical-trials-result">
          <h3>{{ result.title | raw }}</h3>
          <p>{{ result.summary | raw }}</p>
          <p>{{ result.excerpt | raw }}</p>
          <p>{{ result.localities | raw }}</p>
        </div>
      {% endfor %}
    </dv>

  </div>
</section>

{% if promo_adear_section %}
  <div class="bg_fluid bg_img clearfix" role="content">
    {{ promo_adear_section }}
  </div>
{% endif %}
