{% if content.gov_id.value is not empty %}
  <div class="ct-field">
    <p>
      <span class="field_lead"><label for="ct-field-gov-id">ClinicalTrials.gov ID:</label></span>
      <span id="ct-field-gov-id"><a href="http://www.clinicaltrials.gov/ct/show/{{ content.gov_id.value }}">{{ content.gov_id.value }}</a></span>
    </p>
  </div>
{% endif %}

{% if content.official_title.value is not empty %}
  <div class="ct-field">
    <p>
      <span class="field_lead"><label for="ct-field-official-title">Official Title:</label></span>
      <span id="ct-field-official-title">{{ content.official_title.value }}</span>
    </p>
  </div>
{% endif %}
